<div class="container-fluid">
<!--   <div class="row">
    <div class="col">
    </div>
    <div class="col align-right">
      <button *ngIf="loginService.userCan('attendance.record')" class="btn btn-primary edit-button" (click)="recordAttendance()">Record Attendance</button>
    </div>
  </div>
 -->
  <div class="slide">
    <table *ngIf="attendance" class="sc-table">
      <thead>
        <th class="sticky"><div class="right-border name">Student</div></th>
        <th *ngFor="let session of attendance.sessions" class="clickable" (click)="recordAttendance(session)">{{session.startTime | date: "M/dd"}}</th>
        <th class="endsticky"><div class="left-border count">#</div></th>
      </thead>
      <tr *ngFor="let student of attendance.attendance">
        <td class="sticky"><div class="right-border name">{{student.enrolleeName}}</div></td>
        <td *ngFor="let session of attendance.sessions" class="center-up">
          <div class="{{determinePresence(student.sessionAttendance, session.id)}}">&nbsp;</div>
        </td>
        <td class="endsticky"><div class="left-border count">{{countAttendance(student)}}</div></td>
      </tr>
    </table>
  </div>
</div>