<form [formGroup]="form">
  <div class="float-right half-width">
    <span>Additional Time (min):&nbsp;&nbsp;</span>
    <mat-form-field appearance="standard" class="input-5">
      <mat-label>Setup</mat-label>
      <input type="number" matInput formControlName="setupTime" autocomplete="off"/>
    </mat-form-field>&nbsp;
    <mat-form-field appearance="standard" class="input-5">
      <mat-label>Cleanup</mat-label>
      <input type="number" matInput formControlName="cleanupTime" autocomplete="off"/>
    </mat-form-field>
  </div>
  <h3>Reservations</h3>
  <div class="float-clear"></div>

  <div *ngFor="let item of rooms; let i = index" class="row reservation-row">
    <div class="col-4 reservation">
      <table class="content">
        <td>
          {{item.resourceName}}
        </td>
        <td *ngIf="!disabled">
          <div class="actions icon delete" (click)="removeRoom(i)">&nbsp;</div>
        </td>
      </table>
    </div>
    <div class="col-8">
      <app-availability [reservation]="item" [isAvailable]="roomAvailability[i]" (isAvailableChange)="setRoomAvailability(i, $event)" [displayHeader]="i == 0"></app-availability>
    </div>
  </div>
  <div class="row" *ngIf="!disabled">
    <div class="col-4">
      <app-sc-auto-complete formControlName="room" label='+ Room' [selectObject]="true" [autocompleteService]="roomService" [filter]="roomFilter()"></app-sc-auto-complete>
        <button mat-button type="button" class="btn btn-outline-primary" (click)="findAvailableRooms()">Available Rooms</button>

    </div>
  </div>

  <div *ngFor="let item of equipment; let i = index" class="row reservation-row">
    <div class="col-4 reservation">
      <table class="content">
        <td>
          {{item.resourceName}}
        </td>
        <td *ngIf="!disabled">
          <div class="actions icon delete" (click)="removeEquipment(i)">&nbsp;</div>
        </td>
      </table>
    </div>
    <div class="col-8">
      <app-availability [reservation]="item" ([isAvailable])="equipmentAvailability[i]" (isAvailableChange)="setEquipmentAvailability(i, $event)" [displayHeader]="i == 0 && rooms.length == 0"></app-availability>
    </div>
  </div>
  <div class="row" *ngIf="!disabled">
    <div class="col-4">
      <app-sc-auto-complete formControlName="equipment" label='+ Equipment' [selectObject]="true" [autocompleteService]="equipmentService" [filter]="equipmentFilter()"></app-sc-auto-complete>
    </div>
  </div>
</form>