<div class="container-fluid">
  <app-paginated-list [dataService]="preferencesService" 
                      [fields]="['name', {'name':'type', 'type':'enum'}, {'name':'objectType', 'type':'enum'}, 'defaultValue']" 
                      [pageSize]='20' 
                      [dialogComponent]="PreferenceDialogComponent"
                      type="Preferences"
                      [searchForm]="[{'name':'name', 'type':'text'},
                                     {'name':'type', 'type':'text'},
                                     {'name':'objectType', 'type':'text'}]">
  </app-paginated-list>
</div>