<h2>{{family.surname | uppercase}}</h2>
<form [formGroup]="familyForm" (ngSubmit)="save()">
  <div class="container rounded-rect">
    <input type="hidden" formControlName="id"/>

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Family Name</mat-label>
      <input matInput formControlName="surname" required/>
    </mat-form-field><br/>

    <div formGroupName="address">
      <mat-form-field appearance="standard" class="input-standard">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street1" required/>
      </mat-form-field><br/>

      <mat-form-field appearance="standard" class="input-small">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" required>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="standard" class="input-2">
        <mat-label>State</mat-label>
        <input matInput formControlName="state" required minlength="2" maxlength="2"/>
      </mat-form-field>&nbsp;

      <!-- <state-selector [state]="person.family.address.state" (selectState)="updateState($event)"></state-selector>&nbsp; -->

      <mat-form-field appearance="standard" class="input-5">
        <mat-label>Zip</mat-label>
        <input matInput formControlName="zip" required minlength="5" maxlength="5"/>
      </mat-form-field>
    </div>
    
    <br/>
    <app-family-member-list [members]="family.members" [familyId]="family.id"></app-family-member-list>
<!--     <div class="container-fluid" formArrayName="members">
      <table *ngIf="familyForm.controls.members.controls.length > 0">
        <thead>
          <tr>
            <th>Family Members:</th>
          </tr>
        </thead>
        <tbody (mouseleave)="highlightPerson(null)">
          <tr *ngFor="let member of members.groups" (mouseover)="highlightPerson(member)" [ngClass] = "{'highlight' : member === highlightedPerson}">
            <td (click)="updatePerson(member.id)">{{member.name}}&nbsp;&nbsp;<img class="icon" *ngIf="member.headOfHousehold" src="assets/images/logo-w-shield.png"/></td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let member of familyForm.controls.members.controls; let i=index" >
            <td formGroupName="{{i}}">
              <input type="hidden" formControlName="id"/>
              {{familyForm.controls.members.controls[i].name}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container-fluid align-right">
      <button *ngIf="person.family != undefined && person.family.id > 0" type="button" class="btn btn-primary" (click)="updatePerson(0)">New Family Member</button>
    </div>
 -->  </div>
  <div class="container">
    <button class="btn btn-primary" type="submit" [disabled]="!familyForm.valid">Save</button>
    <button class="btn btn-outline-primary" (click)="goBack()">Cancel</button> 
  </div>
</form>