<h2>{{family.surname | uppercase}}</h2>
<form [formGroup]="familyForm" (ngSubmit)="save()">
  <div class="container rounded-rect">
    <input type="hidden" formControlName="id"/>

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Family Name</mat-label>
      <input matInput formControlName="surname" required/>
    </mat-form-field><br/>

    <div formGroupName="address">
      <mat-form-field appearance="standard" class="input-standard">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street1" required/>
      </mat-form-field><br/>

      <mat-form-field appearance="standard" class="input-small">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" required>
      </mat-form-field>&nbsp;

      <mat-form-field class="input-2">
        <input type="text" placeholder="State" aria-label="State" matInput formControlName="state"  [matAutocomplete]="auto" (change)="stateSelected()" class="input-2">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="standard" class="input-5">
        <mat-label>Zip</mat-label>
        <input matInput formControlName="zip" required minlength="5" maxlength="5"/>
      </mat-form-field>
    </div>
    
    <br/>
    <app-family-member-list [members]="family.members" [familyId]="family.id"></app-family-member-list>
  </div>
  <div class="container">
    <button class="btn btn-primary" type="submit" [disabled]="!familyForm.valid">Save</button>
    <button class="btn btn-outline-primary" (click)="goBack()">Cancel</button> 
  </div>
</form>