{{baptism.person.name}}<br/>
<div *ngIf="baptism.father || baptism.mother">
  Child of
  <span *ngIf="baptism.father"> {{baptism.father.name}}</span>
  <span *ngIf="baptism.mother"><span *ngIf="baptism.father"> and</span> {{baptism.mother.name}}</span>
</div>
<div *ngIf="baptism.birthDate || baptism.birthLocation">
  Who was born
  <span *ngIf="baptism.birthDate"> on {{baptism.birthDate | date: 'MM/dd/yyyy'}}</span>
  <span *ngIf="baptism.birthLocation"> at {{baptism.birthLocation}}</span>
</div>
Was
<span *ngIf="baptism.conditional"> conditionally baptized </span>
<span *ngIf="baptism.reception"> received into full communion </span>
<span *ngIf="!baptism.conditional && !baptism.reception"> baptized </span>
on {{baptism.baptismDate | date: 'MM/dd/yyyy'}} at {{baptism.baptismLocation}} by {{baptism.minister.name}}
<div *ngIf="baptism.godfather || baptism.godmother">
  Godparents
  <span *ngIf="baptism.godfather"> {{baptism.godfather.name}}</span>
  <span *ngIf="baptism.godmother"><span *ngIf="baptism.godfather"> and</span> {{baptism.godmother.name}}</span>
</div>
<div *ngIf="baptism.witness">
  Witnessed by {{baptism.witness.name}}
</div><br/>
<app-notations [value]='baptism.notations' [sacramentId]='baptism.id' [dataService]='baptismService'></app-notations>