 <div *ngIf="family.id > 0 && (loginService.userCan('donation.read') || loginService.userCan('pledge.read'))" class="container rounded-rect">
    <h3>Donations</h3>
    <div class="row container"> 
      <div class="col">
        <span *ngIf="!pledges || pledges.length == 0"><em>No pledge information available.</em></span> 
        <div *ngFor="let pledge of pledges"> 
          Pledged <strong>{{pledge.annualPledgeAmount | currency:"$"}}</strong> to fund <strong>{{pledge.fundName}}</strong>&nbsp;&nbsp;
          <div class="big-icon edit" (click)="openPledgeForm(pledge)">&nbsp;</div>&nbsp;  
          <div class="big-icon delete" (click)="deletePledge(pledge)">&nbsp;</div>
        </div>
      </div>  
      <div class="col align-right"> 
        <button type="button" *ngIf="loginService.userCan('pledge.create')" class="btn btn-primary" (click)="openPledgeForm()">Add Pledge</button>   
      </div>  
    </div>
    <div *ngIf="loginService.userCan('donation.read')">
      <app-paginated-list [dataService]="donationService" 
                          [fields]="[{'name':'donationDate', 'type':'date'}, 'fundName', 
                                     {'name':'donationType', 'type':'enum'}, {'name':'amount', 'type':'currency'}]" 
                          [pageSize]='5' 
                          [dialogComponent]="DonationDialogComponent" 
                          [newItemTemplate]="{'familyId':family.id}"
                          [pathParams]="{'familyId': family.id}"
                          type="Donations"
                          [searchForm]="[{'name':'fundName', 'type':'text'},
                                         {'name':'donationDate', 'type':'date'}, 
                                         {'name':'donationType', 'type':'text'}, 
                                         {'name':'amount', 'type':'numberRange'}]">  
      </app-paginated-list>
      
      <table class="align-middle">
        <tr>
          <td>
            <form [formGroup]="annualReportForm">
              <sc-enum formControlName="year" [valueSource]="availableYears" label="Year" fieldSize="small"></sc-enum>
            </form>
          </td>
          <td>
            &nbsp;&nbsp;
            <strong>Annual Report:</strong>&nbsp; <div class="huge-icon download" (click)="downloadAnnualReport()">&nbsp;</div>
            <span *ngIf="canEmail()">&nbsp;&nbsp;<div class="huge-icon email" (click)="emailAnnualReport()">&nbsp;</div></span>
          </td>
        </tr>
      </table>
    </div>
  </div>