<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-sc-search-bar [columns]="searchColumns()" [searchForm]="searchForm" [type]="type" (search)="updateSearch($event)"></app-sc-search-bar>
    </div>
    <div class="col controls">
      <ngb-pagination [(collectionSize)]="totalCount" [(pageSize)]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" size="sm" (pageChange)="populateList()"></ngb-pagination>
    </div>
  </div>
</div>
<div class="container-fluid">
  <table class="sc-table">
    <thead>
      <tr>
        <th *ngFor="let field of fields">{{formatFieldName(field) | titlecase }}</th>
        <th *ngFor="let control of customControls">&nbsp;</th>
        <th *ngIf="selectable && verifyPermission('edit')">&nbsp;</th>
        <th *ngIf="verifyPermission('delete')">&nbsp;</th>
      </tr>
    </thead>
    <tbody (mouseleave)="highlight(null)">
      <tr *ngFor="let item of items" (mouseover)="highlight(item)" [ngClass]="{'highlight' : item === highlighted, 'selected' : item === selected}">
        <td *ngFor="let field of fields" (click)="clicked(item, field)">
          <div *ngIf="item[fieldName(field)]" [ngSwitch]="fieldType(field)" [ngClass]="{'clickable': field.linkTo}">
            <div *ngSwitchCase="'date'">{{item[fieldName(field)] | date: 'MM/dd/yyyy'}}</div>
            <div *ngSwitchCase="'dateTime'">{{item[fieldName(field)] | date: 'MM/dd/yyyy hh:mma'}}</div>
            <div *ngSwitchCase="'countdown'">
              <countdown *ngIf="afterNow(item[fieldName(field)])" [config]="{'stopTime': item[fieldName(field)]}"></countdown>
              <span *ngIf="!afterNow(item[fieldName(field)])">{{item[fieldName(field)] | date: 'MM/dd/yyyy hh:mma'}}</span>
            </div>
            <div *ngSwitchCase="'currency'">{{item[fieldName(field)] | currency:"$"}}</div>
            <div *ngSwitchCase="'identity'">{{item[fieldName(field)].name}}</div>
            <div *ngSwitchCase="'enum'">{{item[fieldName(field)] | scEnum}}</div>
            <div *ngSwitchCase="'boolean'">{{item[fieldName(field)]? 'true': 'false'}}</div>
            <div *ngSwitchDefault>{{item[fieldName(field)]}}</div>
          </div>

          <em *ngIf="!item[fieldName(field)]" class="light">{{placeholderValue}}</em>
        </td>
        <td *ngFor="let control of customControls" class="icon">
          <div *ngIf="control.isEnabled(item)" class="icon" (click)='control.invoke(item)' [ngClass]=" item === highlighted? control.type: ''">&nbsp;</div>
        </td>
        <td *ngIf="selectable && verifyPermission('update')" class="icon">
          <div class="icon" (click)='edit(item)' [ngClass]="{'edit' : item === highlighted}">&nbsp;</div>
        </td>
        <td *ngIf="verifyPermission('delete')" class="icon">
          <div class="icon" (click)='delete(item)' [ngClass]="{'delete' : item === highlighted}">&nbsp;</div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="items.length == 0" class="container-fluid empty-list">No items available.</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button *ngIf="allowCreate == true && verifyPermission('create')" class="btn btn-primary" type="button" (click)="openModal(null)">New</button>
    </div>
    <div class="col align-right">
      <span class="page-status">Showing: {{this.pageStart()}}-{{this.pageEnd()}} of {{totalCount}}</span>
    </div>
  </div>
</div>