<div class="container-fluid">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" [(ngModel)]="search" placeholder="Search..." (ngModelChange)="populateList()" aria-label="Search">
    </div>
    <div class="col controls">
      <ngb-pagination [(collectionSize)]="totalCount" [(pageSize)]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" size="sm" (pageChange)="populateList()"></ngb-pagination>
    </div>
  </div>
</div>
<div class="container-fluid">
  <table>
    <thead>
      <tr>
        <td *ngIf="selectable">&nbsp;</td>
        <th *ngFor="let field of fields">{{field | titlecase }}</th>
      </tr>
    </thead>
    <tbody (mouseleave)="highlight(null)">
      <tr *ngFor="let item of items" (mouseover)="highlight(item)" [ngClass]="{'highlight' : item === highlighted, 'selected' : item === selected}">
        <td *ngIf="selectable" class="icon">
          <div class="icon" (click)='edit(item)' [ngClass]="{'edit' : item === highlighted}">&nbsp;</div>
        </td>
        <td  *ngFor="let field of fields" (click)="clicked(item)">{{item[field]}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="items.length == 0" class="container-fluid empty-list">No items available.</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button *ngIf="verifyPermission('create')" class="btn btn-primary" type="button" (click)="openModal(null)">New</button>
    </div>
    <div class="col align-right">
      <span class="page-status">Showing: {{this.pageStart()}}-{{this.pageEnd()}} of {{totalCount}}</span>
    </div>
  </div>
</div>