<form [formGroup]="form" (ngSubmit)="save()">
  <h1 *ngIf="data.item && data.item.id > 0" mat-dialog-title>Update Mass Intention</h1>
  <h1 *ngIf="data.item == null || data.item.id == 0" mat-dialog-title>Record Mass Intention</h1>
  <div mat-dialog-content>
    <input type="hidden" autocomplete="off" formControlName="id"/>
    <input type="hidden" autocomplete="off" formControlName="eventId"/>
    
    <!-- <sc-auto-complete formControlName="eventId" label='Mass' [autocompleteService]="eventService" required></sc-auto-complete> -->

    <sc-identity-picker formControlName="person" label="Intention for" [required]="true"></sc-identity-picker>

    <sc-enum formControlName="intentionType" label="Intention Type" [required]="true" [valueSource]="intentionTypes"></sc-enum>

    <sc-identity-picker formControlName="requester" label="Requested by" [required]="true"></sc-identity-picker>

    <sc-phone-number formControlName="requesterPhone"></sc-phone-number>  

    <mat-form-field appearance="standard" class="input-5">
      <mat-label>Stipend</mat-label>
      <input type="number" matInput formControlName="stipend" autocomplete="off" required/>
    </mat-form-field>

 </div>

  <div mat-dialog-actions class="align-right">
    <button mat-button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
    <button mat-button type="button" class="btn btn-outline-primary" (click)="cancel()">Close</button>
  </div>
</form>
