.editorconfig
.git
.gitignore
Dockerfile
LICENSE
Makefile
README.md
angular.json
config.env
deploy.env
docker-compose.yml
e2e
kube.yml
node_modules
package.json
src
tsconfig.json
tslint.json
version.txt
