<form [formGroup]="form" (ngSubmit)="search()">
  <h3 mat-dialog-title>{{ data.title }}</h3>
  <div mat-dialog-content>

    <div *ngFor="let field of data.fields">
      <div [ngSwitch]="field.type">
        <div *ngSwitchCase="'text'">
          <mat-form-field appearance="standard" class="input-standard">
            <mat-label>{{field.displayName? field.displayName: field.name | displaycamelcase}}</mat-label>
            <input matInput formControlName="{{fieldName(field)}}">
          </mat-form-field>
        </div>
        <div *ngSwitchCase="'number'">
          <mat-form-field appearance="standard" class="input-standard">
            <mat-label>{{field.displayName? field.displayName: field.name | displaycamelcase}}</mat-label>
            <input type="number" matInput formControlName="{{fieldName(field)}}">
          </mat-form-field>
        </div>
        <div *ngSwitchCase="'boolean'">
          <strong>{{field.displayName? field.displayName: field.name | displaycamelcase}}</strong>&nbsp;&nbsp;     
          <mat-radio-group aria-label="field.name" formControlName="{{fieldName(field)}}">
            <mat-radio-button value="true">{{field.yesValue? field.yesValue: 'Yes'}}</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="false">{{field.noValue? field.noValue: 'No'}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngSwitchCase="'date'">
          <strong>{{field.displayName? field.displayName: field.name | displaycamelcase}}</strong><br/>     
          <mat-form-field appearance="standard" class="input-small">
            <input matInput formControlName="{{fieldName(field)}}Start" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>&nbsp;to&nbsp;

          <mat-form-field appearance="standard" class="input-small">
            <input matInput formControlName="{{fieldName(field)}}End" [matDatepicker]="endpicker">
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit" class="btn btn-primary">Search</button>
    <button mat-button type="button" class="btn btn-outline-primary" (click)="cancel()">Close</button>
  </div>
</form>