<form [formGroup]="credentialForm" (ngSubmit)="createCredential()">
  <h1 *ngIf="createNew" mat-dialog-title>Grant Access</h1>
  <h1 *ngIf="!createNew" mat-dialog-title>Update Access</h1>
  <div mat-dialog-content>
    <app-sc-auto-complete formControlName="id" label='User' [autocompleteService]="personService" [required]="true"></app-sc-auto-complete>
    
    <app-sc-auto-complete formControlName="role" label='Role' [autocompleteService]="roleService" [selectIdentity]="true" [required]="true"></app-sc-auto-complete>

    <div *ngIf="createNew">
      <mat-checkbox formControlName="sendEmail">Send email?</mat-checkbox><br/>

      <mat-form-field *ngIf="passwordRequired" appearance="standard" class="input-standard">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" autocomplete="off"/>
      </mat-form-field><br/>

      <mat-checkbox *ngIf="passwordRequired" formControlName="resetPassword">Require reset at login?</mat-checkbox>
    </div>
  </div>
  <div mat-dialog-actions class="align-right">
    <button mat-button type="submit" class="btn btn-primary" [disabled]="!credentialForm.valid" cdkFocusInitial>Save</button>
    <button mat-button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
  </div>
</form>
