<form [formGroup]="credentialForm" (ngSubmit)="createCredential()">
  <h1 *ngIf="createNew" mat-dialog-title>Grant Access</h1>
  <h1 *ngIf="!createNew" mat-dialog-title>Update Access</h1>
  <div mat-dialog-content>
    <app-sc-auto-complete formControlName="id" label='User' [autocompleteService]="personService" [required]="true" [disabled]="!createNew"></app-sc-auto-complete>
    
   <app-sc-auto-complete formControlName="role" label='Role' [autocompleteService]="roleService" [selectIdentity]="true" [required]="true"></app-sc-auto-complete>

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" autocomplete="off" [required]="createNew"/>
    </mat-form-field><br/>
  </div>
  <div mat-dialog-actions class="align-right">
    <button mat-button type="submit" class="btn btn-primary" [disabled]="!credentialForm.valid" cdkFocusInitial>Save</button>
    <button mat-button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
    <button mat-button type="button" class="btn btn-outline-primary" (click)="formData()">Show Form</button>
  </div>
</form>
