<h2>Reset Password</h2>
<div class="container rounded-rect">
  <form [formGroup]="passwordResetForm" (ngSubmit)="submit()">
    <mat-form-field *ngIf="!resetToken" appearance="standard" class="input-standard">
      <mat-label>Old Password</mat-label>
      <input type="password" matInput formControlName="oldPassword" autocomplete="off"/>
    </mat-form-field><br/>
    
    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>New Password</mat-label>
      <input type="password" matInput formControlName="newPassword" autocomplete="off"/>
    </mat-form-field><br/>
    
    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Re-enter New Password</mat-label>
      <input type="password" matInput formControlName="confirmPassword" autocomplete="off"/>
    </mat-form-field><br/>

    <button mat-button type="submit" class="btn btn-primary" [disabled]="!passwordResetForm.valid">Update Password</button>
  </form>
</div>