<button *ngIf="!editMode" class="btn btn-primary float-right" (click)="enableEdit()">Edit</button>
<h2>{{ministryForm.get("name").value}}&nbsp;</h2>

<div *ngIf="!editMode">
  <div class="container rounded-rect">
    Name: {{ministry.name}}<br/>
    Description:<br/>
    {{ministry.description}}
    <br/>
  </div>
  
  <div class="container rounded-rect">
    <app-ministry-member-list [enrollments]="enrollments" [ministryId]="ministry.id" [columns]="['member', 'role']"></app-ministry-member-list>
  </div>

  <div class="container">
    <button class="btn btn-outline-primary" (click)="goBack()">Close</button> 
  </div>
</div>

<form *ngIf="editMode" [formGroup]="ministryForm" (ngSubmit)="save()">
  <div class="container rounded-rect">
    <input type="hidden" formControlName="id"/>

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field><br/>


    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Description</mat-label>
      <textarea matInput type="textarea" cdkTextareaAutosize cdkAutosizeMaxRows="10" formControlName="description"></textarea>
    </mat-form-field><br/>

  </div>
  <div class="container rounded-rect">
    <app-ministry-member-list [enrollments]="enrollments" [ministryId]="ministry.id" [columns]="['member', 'role']"></app-ministry-member-list>
  </div>
  <div class="container">
    <button class="btn btn-primary" type="submit" [disabled]="!ministryForm.valid">Save</button>
    <button class="btn btn-outline-primary" (click)="goBack()">Cancel</button> 
  </div>
</form>