<app-paginated-list [dataService]="registrationService" 
                    [fields]="[{'name':'enrolleeName', 'displayName':'Student'}, 'sectionName', {'name':'enrolleeAge', 'displayName':'Age'}, 'schoolGrade', 'sacramentalGroupName']" 
                    [pageSize]='10' 
                    [dialogComponent]="RegistrationDialogComponent"
                    [type]="'Registration'"
                    placeholderValue="Unassigned"
                    [pathParams]='{"programId":activeProgram}'
                    [newItemTemplate]='{"programId":activeProgram}'>
</app-paginated-list>