<form name="enrollmentForm" [formGroup]="enrollmentForm" (ngSubmit)="addMembership()">
  <div class="container-fluid">
    <table>
      <thead>
        <tr>
          <th *ngIf="columns.includes('ministry')">Ministry</th>
          <th *ngIf="columns.includes('member')">Member</th>
          <th *ngIf="columns.includes('role')">Role</th>
        </tr>
      </thead>
      <tbody (mouseleave)="highlightEnrollment(null)">
        <tr *ngFor="let enrollment of enrollments" (mouseover)="highlightEnrollment(enrollment)"  [ngClass] = "{'highlight' : enrollment === highlightedEnrollment}">
          <td *ngIf="columns.includes('ministry')" (click)="viewMinistry(enrollment.ministryId)">{{enrollment.ministryName}}</td>
          <td *ngIf="columns.includes('member')" (click)="viewPerson(enrollment.personId)">{{enrollment.personName}}</td>
          <td *ngIf="columns.includes('role')">{{enrollment.role}}</td>
        </tr>
        <tr *ngIf="newEnrollment">
          <input type="hidden" formControlName="ministryId">
          <input type="hidden" formControlName="personId"/>
          <td *ngIf="columns.includes('ministry')">
            <mat-form-field>
              <input type="text" placeholder="Ministry" aria-label="Ministry Name" matInput formControlName="ministryName" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="selectMinistryName" (optionSelected)="selectMinistry($event)">
                <mat-option *ngFor="let ministry of filteredMinistries | async" [value]="ministry">
                  {{ministry.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </td>
          <td *ngIf="columns.includes('member')">
            <mat-form-field>
              <input type="text" placeholder="Name" aria-label="Member Name" matInput formControlName="personName" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="selectName" (optionSelected)="selectPerson($event)">
                <mat-option *ngFor="let person of filteredPersons | async" [value]="person">
                  {{person.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </td>
          <td *ngIf="columns.includes('role')">
            <mat-form-field appearance="standard" class="input-standard">
              <mat-label>Role</mat-label>
              <input matInput formControlName="role" required/>
            </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!newEnrollment && (ministryId > 0 || personId > 0) && loginService.userCan('ministry.enrollment.create')" class="container-fluid align-right">
    <button type="button" class="btn btn-primary" (click)="newMembership()">Add...</button>
  </div>
  <div *ngIf="newEnrollment" class="container-fluid align-right">
    <button class="btn btn-primary" type="submit" [disabled]="!enrollmentForm.valid">Save</button>
    <button type="button" class="btn btn-outline-primary" (click)="clearEnrollmentForm()">Cancel</button>
  </div>
</form>   

