<div class="container-fluid">
  <app-paginated-list [dataService]="sectionService" 
                    [fields]="['name']"
                    [pageSize]='10' 
                    [dialogComponent]="SectionDialogComponent"
                    [type]="'Section'"
                    placeholderValue="Unassigned"
                    [pathParams]='{"programId":activeProgram}'
                    [newItemTemplate]='{"programId":activeProgram}'
                    (onChange)="notifyChanged()">
  </app-paginated-list>
</div>