<app-paginated-list [dataService]="sectionService" 
                    [fields]="['name', 'instructorName', 'roomName', 'studentCount']" 
                    [pageSize]='10' 
                    [dialogComponent]="SectionDialogComponent"
                    [type]="'Section'"
                    [selectable]='true'
                    [placeholderValue]="'Unassigned'"
                    [newItemTemplate]='{"programId":activeProgram}'
                    [pathParams]='{"programId":activeProgram}'
                    (onSelect)='sectionSelected($event)'>
</app-paginated-list>
  <div class="huge-icon download" (click)="downloadAttendanceSheets()">&nbsp;</div>


<app-attendance *ngIf="selectedSection" [section]='selectedSection'></app-attendance>