<app-paginated-list [dataService]="sectionService" 
                    [fields]="['name', 'instructorName', 'roomName', 'studentCount']" 
                    [pageSize]='10' 
                    [dialogComponent]="SectionDialogComponent"
                    [type]="'Section'"
                    [selectable]='true'
                    [newItemTemplate]='{"programId":activeProgram}'
                    [pathParams]='{"programId":activeProgram}'
                    (onSelect)='sectionSelected($event)'>
</app-paginated-list>