.notes {
  max-height: 200px;
  overflow-y: auto;
}

.note {
  margin-bottom: 3px;  
  padding: 3px 0 3px 0;
}

.metadata {
  padding: 0 5px 0 5px;
  font-size: 80%;
}

.name {
  font-weight: 400;
  color: #808080;
}

.timestamp {
  font-weight: 300;
  color: #808080;
}

.underlined {
  border-bottom-color: #cccccc;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
