<div class="container rounded-rect">
  <div class="row">
    <div *ngIf="editMode; else displayOnly" class="col">
      <form [formGroup]="form" (ngSubmit)="save()">
        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Parish Name</mat-label>
          <input matInput formControlName="name" required/>
        </mat-form-field><br/>

        <span>Url: https://{{organization.hostName}}.servantscode.org</span><br/>

        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Website</mat-label>
          <input matInput formControlName="website" required/>
        </mat-form-field><br/>

        <app-sc-phone-number formControlName="phoneNumber"></app-sc-phone-number>  

        <app-address formControlName="address"></app-address>

        <!-- <app-identity-picker formControlName="pastor"></app-identity-picker> -->

        <div class="button-bar">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-outline-primary" (click)="cancel()">Close</button>
        </div>
      </form>
    </div>
    <ng-template #displayOnly>
      <div class="col">
        <h3>{{parish.name}}</h3>
        <span>Url: https://{{organization.hostName}}.servantscode.org</span><br/>
        <span>Website: {{parish.website}}</span><br/>
        <span>Phone Number: {{parish.phoneNumber}}</span><br/>
        <span>Address:</span><br/>
        <span>{{parish.address.street1}}</span><br/>
        <span>{{parish.address.city}}, {{parish.address.state}} {{parish.address.zip}}</span><br/>
        <div class="button-bar">
          <button *ngIf="loginService.userCan('parish.admin.update')" class="btn btn-primary" (click)="enableEdit()">Edit</button>
        </div>
      </div>
    </ng-template>
    <div class="col">
      <app-photo class="portrait" [guid]="organization.photoGuid" [altText]="parish.name" [editable]="loginService.userCan('admin.organization.update')" [publicPhoto]="true" (photoStored)="attachPhoto($event)"></app-photo>
    </div>
  </div>
</div>
<div class="container rounded-rect">
  <h3>Registration configuration</h3>
  <div class="row">
    <div class="col">
      <strong>Banner</strong>
      <app-photo class="portrait" [guid]="parish.bannerGuid" altText="banner" [editable]="loginService.userCan('admin.parish.update')" [publicPhoto]="true" (photoStored)="attachBannerPhoto($event)"></app-photo>
    </div>
    <div class="col">
      <strong>Portrait</strong>
      <app-photo class="portrait" [guid]="parish.portraitGuid" altText="portrait" [editable]="loginService.userCan('admin.parish.update')" [publicPhoto]="true" (photoStored)="attachPortraitPhoto($event)"></app-photo>
    </div>
  </div>
</div>
<div class="container rounded-rect">
  <h3>Departments</h3>
  <app-paginated-list [dataService]="departmentService" 
                      [fields]="['name',{'name':'departmentHeadName', 'type':'text'}]" 
                      [pageSize]='5' 
                      [dialogComponent]="DepartmentDialogComponent"
                      [type]="'department'"
                      [searchForm]="[{'name':'name', 'type':'text'},
                                     {'name':'departmentHeadName', 'type':'text'}]">
  </app-paginated-list>
</div>
<div class="container rounded-rect">
  <h3>Categories</h3>
  <app-paginated-list [dataService]="categoryService" 
                      [fields]="['name']" 
                      [pageSize]='5' 
                      [dialogComponent]="CategoryDialogComponent"
                      [type]="'category'">
  </app-paginated-list>
</div>
