.ng-invalid {
  color: red;
  &:focus{
    border-color: #ff0000;
    box-shadow: 0 0 0 0.2rem rgba(200, 0, 0, 0.25)
  }
}

.floating {
  position: absolute;
}

.search-history {
  top:7px;
  right:7px;
}

.hidden {
  visibility: hidden;
}

.pad-left-5 {
  margin-left: 5px;
}

.adv-search {
  padding-top: 6px;
}