<form [formGroup]="form">
  <div class="row">
    <div class="col-10 no-pad">
      <input *ngIf="!findSearch" type="text" class="form-control" formControlName="input" placeholder="Search..." aria-label="Search">

      <sc-auto-complete #savedSearchInput
                            *ngIf="findSearch"
                            type="bordered"
                            autoOpen="true"
                            formControlName="savedSearch"
                            label="Saved Search..." 
                            selectObject="true"
                            [pathParams]="{'type': type}"
                            [autocompleteService]="searchService">
      </sc-auto-complete>

      <div *ngIf="searchForm" class="huge-icon floating search-history" [ngClass]="findSearch? 'history-active': 'history'" (click)="toggleSavedSearchMode()">&nbsp;&nbsp;</div>

      <table *ngIf="savedSearch" class="middle">
        <td>
          <span class="light pad-left-5">{{savedSearch.name}}<span *ngIf="form.value.input != savedSearch.search">&nbsp;(modified)</span></span>
        </td>
        <td>
         <div class="icon x pad-left-5" (click)="clearSearch()">&nbsp;</div>
       </td>
       <td>
         <div class="icon delete pad-left-5" (click)="deleteSearch()">&nbsp;</div>
       </td>
     </table>
    </div>
    <div *ngIf="searchForm" class="col-2 no-pad adv-search">
      <table class="middle">
        <td>
          <div class="huge-icon search inline pad-left-5" (click)="openSearch()">&nbsp;&nbsp;</div>
        </td>
        <td *ngIf="form.value.input && (!savedSearch || form.value.input != savedSearch.search)">
          <div class="huge-icon add inline pad-left-5" (click)="saveSearch()">&nbsp;&nbsp;</div>
        </td>
      </table>
    </div>
  </div>
</form>
  