<div *ngIf="!editMode" class="float-right">
  <button *ngIf="loginService.userCan('family.delete') && !family.inactive" class="btn btn-outline-primary edit-button" (click)="deactivate()">Deactivate</button>
  <button *ngIf="loginService.userCan('family.update') && family.inactive" class="btn btn-outline-primary edit-button" (click)="activate()">Activate</button>
  <button *ngIf="loginService.userCan('admin.family.delete') && family.inactive" class="btn btn-outline-primary edit-button" (click)="delete()">Delete</button>
  <button *ngIf="loginService.userCan('family.update')" class="btn btn-primary edit-button" (click)="enableEdit()">Edit</button>
</div>
<h2 [ngClass]="{inactive: family.inactive}">{{family.surname}}</h2>

<form [formGroup]="familyForm" (ngSubmit)="save()">
  <div *ngIf="!editMode" class="container rounded-rect">
    <div class="row">
      <div class="col">
        <h3>Family Details</h3>
        <div class="row">
          <div class="col">
            Family Name: {{family.surname}}<br/>
            Home Phone: {{family.homePhone}}<br/>
            Envelope Number: {{family.envelopeNumber > 0? family.envelopeNumber: ""}}<br/>
            Address:<br/>
            <div *ngIf="family.address.street1 !== '' && family.address.street1 !== null">
              {{family.address.street1}}<br/>
              {{family.address.city}}, {{family.address.state}} {{family.address.zip}}
            </div>
            <div *ngIf="family.address.street1 == ''">
              No address on file.
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <app-photo class="portrait" [guid]="family.photoGuid" [altText]="family.surname" [editable]="loginService.userCan('family.update')" (photoStored)="attachPhoto($event)"></app-photo>
      </div>
    </div>
  </div>

  <div *ngIf="editMode" class="container rounded-rect">
    <div class="row">
      <div class="col">
        <input type="hidden" formControlName="id"/>

        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Family Name</mat-label>
          <input matInput formControlName="surname" required/>
        </mat-form-field><br/>

        <app-sc-phone-number formControlName="homePhone"></app-sc-phone-number>  

        <table>
          <tr>
            <td>
              <mat-form-field appearance="standard" class="input-standard">
                <mat-label>Envelope Number</mat-label>
                <input matInput type="number" formControlName="envelopeNumber"/>
              </mat-form-field>
            </td>
            <td>
              <div *ngIf="!familyForm.value.envelopeNumber" class="actions icon add icon-padding" (click)="assignEnvelopeNumber()">&nbsp;</div>
            </td>
          </tr>
        </table>

        <app-address formControlName="address"></app-address>
      </div>
      <div class="col-auto">
        <app-photo class="portrait" [guid]="family.photoGuid" [altText]="family.surname"></app-photo>
      </div>
    </div>
  </div>

  <div class="container rounded-rect" *ngIf="family.id > 0">
    <sc-preference-form type="family" formControlName='preferences'></sc-preference-form>
  </div>

  <div *ngIf="family.id > 0" class="container rounded-rect">
    <app-family-member-list [members]="family.members" [familyId]="family.id"></app-family-member-list>
  </div>
  
  <div *ngIf="family.id > 0 && (loginService.userCan('donation.read') || loginService.userCan('pledge.read'))" class="container rounded-rect">
    <h3>Donations</h3>
    <div class="row container"> 
      <div class="col">
        <span *ngIf="!pledges || pledges.length == 0"><em>No pledge information available.</em></span> 
        <div *ngFor="let pledge of pledges"> 
          Pledged <strong>{{pledge.annualPledgeAmount | currency:"$"}}</strong> to fund <strong>{{pledge.fundName}}</strong>&nbsp;&nbsp;
          <div class="big-icon edit" (click)="openPledgeForm(pledge)">&nbsp;</div>&nbsp;  
          <div class="big-icon delete" (click)="deletePledge(pledge)">&nbsp;</div>
        </div>
      </div>  
      <div class="col align-right"> 
        <button *ngIf="loginService.userCan('pledge.create')" class="btn btn-primary" (click)="openPledgeForm()">Add Pledge</button>   
      </div>  
    </div>
    <div *ngIf="loginService.userCan('donation.read')">
      <app-paginated-list [dataService]="donationService" 
                          [fields]="[{'name':'donationDate', 'type':'date'}, 'fundName', 
                                     {'name':'donationType', 'type':'enum'}, {'name':'amount', 'type':'currency'}]" 
                          [pageSize]='5' 
                          [dialogComponent]="DonationDialogComponent" 
                          [newItemTemplate]="{'familyId':family.id}"
                          [pathParams]="{'familyId': family.id}"
                          type="Donations"
                          [searchForm]="[{'name':'fundName', 'type':'text'},
                                         {'name':'donationDate', 'type':'date'}, 
                                         {'name':'donationType', 'type':'text'}, 
                                         {'name':'amount', 'type':'numberRange'}]">  
      </app-paginated-list>
      <strong>Annual Report:</strong>&nbsp; <div class="huge-icon download" (click)="downloadAnnualReport()">&nbsp;</div>
      <span *ngIf="canEmail()">&nbsp;&nbsp;<div class="huge-icon email" (click)="emailAnnualReport()">&nbsp;</div></span>
    </div>
  </div>

  <div *ngIf="loginService.userCan('note.list')" class="container rounded-rect">
    <h3>Notes</h3>
    <app-notes [resourceType]="'family'" [resourceId]="family.id"></app-notes>
  </div>


  <div *ngIf="!editMode" class="container">
    <button class="btn btn-outline-primary" (click)="goBack()">Close</button> 
  </div>
  <div *ngIf="editMode" class="container">
    <button type="submit" class="btn btn-primary" [disabled]="!familyForm.valid">Save</button>
    <button type="button" class="btn btn-outline-primary" (click)="goBack()">Close</button> 
  </div>
</form>