<div *ngIf="!editMode" class="float-right">
  <button *ngIf="loginService.userCan('family.delete') && !family.inactive" class="btn btn-outline-primary edit-button" (click)="deactivate()">Deactivate</button>
  <button *ngIf="loginService.userCan('family.update') && family.inactive" class="btn btn-outline-primary edit-button" (click)="activate()">Activate</button>
  <button *ngIf="loginService.userCan('admin.family.delete') && family.inactive" class="btn btn-outline-primary edit-button" (click)="delete()">Delete</button>
  <button *ngIf="loginService.userCan('family.update')" class="btn btn-primary edit-button" (click)="enableEdit()">Edit</button>
</div>
<h2 [ngClass]="{inactive: family.inactive}">{{family.surname}}</h2>

<form [formGroup]="familyForm" (ngSubmit)="save()">
  <div class="container rounded-rect">
    <div class="row">
      <div class="col">
        <h3>Family Details</h3>
        <div class="row">
          <div class="col">
            <app-family-form formControlName="family" required="true"></app-family-form>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <sc-photo class="portrait" [guid]="family.photoGuid" [altText]="family.surname" [editable]="loginService.userCan('family.update')" (photoStored)="attachPhoto($event)"></sc-photo>
      </div>
    </div>
  </div>

  <div *ngIf="family.id > 0" class="container rounded-rect">
    <app-family-member-list [members]="family.members" [familyId]="family.id"></app-family-member-list>
  </div>
  
  <app-family-financial *ngIf="family.id > 0" [family]="family"></app-family-financial>

  <div *ngIf="family.id > 0 && loginService.userCan('note.list')" class="container rounded-rect">
    <h3>Notes</h3>
    <app-notes [resourceType]="'family'" [resourceId]="family.id"></app-notes>
  </div>


  <div *ngIf="!editMode" class="container">
    <button class="btn btn-outline-primary" (click)="goBack()">Close</button> 
  </div>
  <div *ngIf="editMode" class="container">
    <button type="submit" class="btn btn-primary" [disabled]="!familyForm.valid">Save</button>
    <button type="button" class="btn btn-outline-primary" (click)="goBack()">Close</button> 
  </div>
</form>