<button *ngIf="!editMode && loginService.userCan('family.update')" class="btn btn-primary float-right edit-button" (click)="enableEdit()">Edit</button>
<button *ngIf="!editMode && loginService.userCan('family.delete')" class="btn btn-outline-primary float-right edit-button" (click)="delete()">Delete</button>
<h2 [ngClass]="{inactive: family.inactive}">{{family.surname}}</h2>

<form [formGroup]="familyForm" (ngSubmit)="save()">
  <div *ngIf="!editMode" class="container rounded-rect">
    <div class="row">
      <div class="col">
        <h3>Family Details</h3>
        <div class="row">
          <div class="col">
            Family Name: {{family.surname}}<br/>
            Home Phone: {{family.homePhone}}<br/>
            Envelope Number: {{family.envelopeNumber > 0? family.envelopeNumber: ""}}<br/>
            Address:<br/>
            <div *ngIf="family.address.street1 !== '' && family.address.street1 !== null">
              {{family.address.street1}}<br/>
              {{family.address.city}}, {{family.address.state}} {{family.address.zip}}
            </div>
            <div *ngIf="family.address.street1 == ''">
              No address on file.
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <app-photo class="portrait" [guid]="family.photoGuid" [altText]="family.surname" [editable]="loginService.userCan('family.update')" (photoStored)="attachPhoto($event)"></app-photo>
      </div>
    </div>
  </div>

  <div *ngIf="editMode" class="container rounded-rect">
    <div class="row">
      <div class="col">
        <input type="hidden" formControlName="id"/>

        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Family Name</mat-label>
          <input matInput formControlName="surname" required/>
        </mat-form-field><br/>

      <app-sc-phone-number formControlName="homePhone"></app-sc-phone-number>  

        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Envelope Number</mat-label>
          <input matInput type="number" formControlName="envelopeNumber"/>
        </mat-form-field><br/>

        <div formGroupName="address">
          <mat-form-field appearance="standard" class="input-standard">
            <mat-label>Street</mat-label>
            <input matInput formControlName="street1" required/>
          </mat-form-field><br/>

          <mat-form-field appearance="standard" class="input-small">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" required>
          </mat-form-field>&nbsp;

          <mat-form-field class="input-2">
            <input type="text" placeholder="State" aria-label="State" matInput formControlName="state"  [matAutocomplete]="auto" (change)="stateSelected()" class="input-2" maxlength="2" required>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>&nbsp;

          <mat-form-field appearance="standard" class="input-5">
            <mat-label>Zip</mat-label>
            <input matInput formControlName="zip" required minlength="5" maxlength="5"/>
          </mat-form-field>
        </div>
      </div>
      <div class="col-auto">
        <app-photo class="portrait" [guid]="family.photoGuid" [altText]="family.surname"></app-photo>
      </div>
    </div>
  </div>

  <div class="container rounded-rect" *ngIf="family.id > 0">
    <app-preferences [id]="family.id" [type]="'family'" [preferenceSource]="familyService"></app-preferences>
  </div>

  <div *ngIf="family.id > 0" class="container rounded-rect">
    <app-family-member-list [members]="family.members" [familyId]="family.id"></app-family-member-list>
  </div>
  
  <div *ngIf="family.id > 0 && (loginService.userCan('donation.read') || loginService.userCan('pledge.read'))" class="container rounded-rect">
    <h3>Donations</h3>
    <div class="row container"> 
      <div class="col">
        <span *ngIf="!pledges || pledges.length == 0"><em>No pledge information available.</em></span> 
        <div *ngFor="let pledge of pledges"> 
          Pledged <strong>{{pledge.annualPledgeAmount | currency:"$"}}</strong> to fund <strong>{{pledge.fundName}}</strong>&nbsp;&nbsp;
          <div class="big-icon edit" (click)="openPledgeForm(pledge)">&nbsp;</div>
        </div>
      </div>  
      <div class="col align-right"> 
        <button *ngIf="loginService.userCan('pledge.create')" class="btn btn-primary" (click)="openPledgeForm()">Add Pledge</button>   
      </div>  
    </div>
    <div *ngIf="loginService.userCan('donation.read')">
      <app-paginated-list [dataService]="donationService" [fields]="[{'name':'donationDate', 'type':'date'}, 'fundName', {'name':'donationType', 'type':'enum'}, {'name':'amount', 'type':'currency'}]" [pageSize]='5' [dialogComponent]="DonationDialogComponent" [newItemTemplate]="{'familyId':family.id}" [searchable]='false'></app-paginated-list>
    </div>
  </div>

  <div *ngIf="loginService.userCan('note.list')" class="container rounded-rect">
    <h3>Notes</h3>
    <app-notes [resourceType]="'family'" [resourceId]="family.id"></app-notes>
  </div>


  <div *ngIf="!editMode" class="container">
    <button class="btn btn-outline-primary" (click)="goBack()">Close</button> 
  </div>
  <div *ngIf="editMode" class="container">
    <button class="btn btn-primary" type="submit" [disabled]="!familyForm.valid">Save</button>
    <button class="btn btn-outline-primary" (click)="goBack()">Close</button> 
  </div>
</form>