<form (ngSubmit)="cancel()">
  <h1 mat-dialog-title>Upload Photo</h1>
  <div mat-dialog-content>
    <input type="file" id="file" class="inputfile" (change)="uploadFile($event.target.files)">
    <label for="file"><strong>Click</strong> to choose photo, or...</label>
    <br/>
    <div class="form-group">
      <file-drop headertext="Drop photo here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"></file-drop>
    </div>
  </div>
  <div mat-dialog-actions class="align-right">
    <button mat-button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
  </div>
</form>
