.room-list {
  height: 250px;
  outline: solid #cccccc 1px;
  margin: 5px 0 5px 0;
  padding: 5px;
}

.crossed-out {
  text-decoration: line-through;
}

.highlight {
  cursor: pointer;
}

.capacity {
  text-align: center;
}