<form [formGroup]="form" (ngSubmit)="send()">
  <h3 mat-dialog-title>Compose Email</h3>
  <div mat-dialog-content>
    <mat-form-field appearance="standard" class="input-full">
      <mat-label>From</mat-label>
      <input type="text" matInput formControlName="from" autocomplete="off" cdkFocusInitial required/>
    </mat-form-field><br/>

    <mat-form-field appearance="standard" class="input-full">
      <mat-label>To</mat-label>
      <input type="text" matInput formControlName="to" autocomplete="off"/>
    </mat-form-field><br/>

    <mat-form-field appearance="standard" class="input-full">
      <mat-label>CC</mat-label>
      <input type="text" matInput formControlName="cc" autocomplete="off"/>
    </mat-form-field><br/>

    <mat-form-field appearance="standard" class="input-full">
      <mat-label>Reply To</mat-label>
      <input type="text" matInput formControlName="replyTo" autocomplete="off"/>
    </mat-form-field><br/>

    <mat-form-field appearance="standard" class="input-full">
      <mat-label>Subject</mat-label>
      <input type="text" matInput formControlName="subject" autocomplete="off"/>
    </mat-form-field><br/>

    <ckeditor [editor]="Editor" [config]="{toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', '|', 'insertTable', 'mediaEmbed'] }" formControlName="message"></ckeditor>
  </div>

  <div mat-dialog-actions class="align-right">
    <button mat-button type="submit" class="btn btn-primary" [disabled]="!form.valid">Send</button>
    <button mat-button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
  </div>
</form>
