<div class="container-fluid  controls align-right">
  <button *ngIf="loginService.userCan('ministry.create')" type="button" class="btn btn-primary" [routerLink]="['/ministry/detail/']">Add Ministry</button>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-sc-search-bar (search)="updateSearch($event)" 
                         type="Ministries"
                         [searchForm]="[{'name':'name', 'type':'text'}, {'name':'description', 'type':'text'}]">
      </app-sc-search-bar>
    </div>
    <div class="col controls">
      <ngb-pagination [(collectionSize)]="totalCount" [(pageSize)]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" size="sm" (pageChange)="populateList()"></ngb-pagination>
    </div>
  </div>
</div>
<div class="container-fluid">
  <table class="sc-table">
    <thead>
      <tr>
        <th>Ministry Name</th>
      </tr>
    </thead>
    <tbody (mouseleave)="highlight(null)">
      <tr *ngFor="let item of items" (mouseover)="highlight(item)" [ngClass] = "{'highlight' : item === highlighted}">
        <td routerLink="/ministry/detail/{{item.id}}">{{item.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div *ngIf="loginService.userCan('ministry.export')" class="huge-icon download" (click)="downloadReport()">&nbsp;</div>
    </div>
    <div class="col align-right">
      <span class="page-status">Showing: {{this.pageStart()}}-{{this.pageEnd()}} of {{totalCount}}</span>
    </div>
  </div>
</div>