<h2>{{person.name | uppercase}}</h2>
<div class="container rounded-rect">
  <mat-form-field appearance="standard" class="input-standard">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="person.name" (keyup)="guessSurname()">
  </mat-form-field><br/>

  <mat-form-field appearance="standard" class="input-standard">
    <mat-label>Email</mat-label> 
    <input matInput [(ngModel)]="person.email">
  </mat-form-field><br/>

  <mat-form-field appearance="standard" class="input-standard">
    <mat-label>Phone Number</mat-label>
    <input matInput [(ngModel)]="person.phoneNumber">
  </mat-form-field><br/>

  <mat-checkbox [(ngModel)]="person.headOfHousehold"> Head of Household</mat-checkbox>
</div>
<div class="container rounded-rect">
  <mat-form-field appearance="standard" class="input-standard">
    <mat-label>Family Name</mat-label>
    <input matInput [(ngModel)]="person.family.surname">
  </mat-form-field><br/>

  <mat-form-field appearance="standard" class="input-standard">
    <mat-label>Street</mat-label>
    <input matInput [(ngModel)]="person.family.address.street1">
  </mat-form-field><br/>

  <mat-form-field appearance="standard" class="input-small">
    <mat-label>City</mat-label>
    <input matInput [(ngModel)]="person.family.address.city">
  </mat-form-field>&nbsp;

  <state-selector [state]="person.family.address.state" (selectState)="updateState($event)"></state-selector>&nbsp;

  <mat-form-field appearance="standard" class="input-5">
    <mat-label>Zip</mat-label>
    <input matInput [(ngModel)]="person.family.address.zip">
  </mat-form-field>

  <br/>
  <app-family-member-list [members]="person.family.members" [familyId]="person.family.id"></app-family-member-list>
</div>
<div class="container">
  <button class="btn btn-primary" (click)="save()">Save</button>
  <button class="btn btn-outline-primary" (click)="goBack()">Cancel</button>
</div>
