<h2>{{personForm.get("name").value}}&nbsp;</h2>
<form [formGroup]="personForm" (ngSubmit)="save()">
  <div class="container rounded-rect">
    <input type="hidden" formControlName="id"/>

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" (keyup)="guessSurname()" required>
    </mat-form-field><br/>

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Email</mat-label> 
      <input matInput formControlName="email">
    </mat-form-field><br/>

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" (keyup)="formatPhoneNumber()" maxlength="14">
    </mat-form-field><br/>

    <mat-checkbox formControlName="headOfHousehold"> Head of Household</mat-checkbox>
  </div>

  <div class="container rounded-rect" formGroupName="family">
    <input type="hidden" formControlName="id"/>

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Family Name</mat-label>
      <input matInput formControlName="surname" required/>
    </mat-form-field><br/>

    <div formGroupName="address">
      <mat-form-field appearance="standard" class="input-standard">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street1" required/>
      </mat-form-field><br/>

      <mat-form-field appearance="standard" class="input-small">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" required>
      </mat-form-field>&nbsp;

      <mat-form-field class="input-2">
        <input type="text" placeholder="State" aria-label="State" matInput formControlName="state" [matAutocomplete]="auto" class="input-2" (blur)="capitalizeState()">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="standard" class="input-5">
        <mat-label>Zip</mat-label>
        <input matInput formControlName="zip" required minlength="5" maxlength="5"/>
      </mat-form-field>
    </div>
    
    <br/>
    <app-family-member-list [members]="person.family.members" [familyId]="person.family.id"></app-family-member-list>
  </div>
  <div class="container">
    <button class="btn btn-primary" type="submit" [disabled]="!personForm.valid">Save</button>
    <button class="btn btn-outline-primary" (click)="goBack()">Cancel</button> 
  </div>
</form>

<!-- <div class="container rounded-rect">
  <mat-form-field appearance="standard" class="input-standard">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="person.name" (keyup)="guessSurname()">
  </mat-form-field><br/>

  <mat-form-field appearance="standard" class="input-standard">
    <mat-label>Email</mat-label> 
    <input matInput [(ngModel)]="person.email">
  </mat-form-field><br/>

  <mat-form-field appearance="standard" class="input-standard">
    <mat-label>Phone Number</mat-label>
    <input matInput [(ngModel)]="person.phoneNumber">
  </mat-form-field><br/>

  <mat-checkbox [(ngModel)]="person.headOfHousehold"> Head of Household</mat-checkbox>
</div>
<div class="container rounded-rect">
  <mat-form-field appearance="standard" class="input-standard">
    <mat-label>Family Name</mat-label>
    <input matInput [(ngModel)]="person.family.surname">
  </mat-form-field><br/>

  <mat-form-field appearance="standard" class="input-standard">
    <mat-label>Street</mat-label>
    <input matInput [(ngModel)]="person.family.address.street1">
  </mat-form-field><br/>

  <mat-form-field appearance="standard" class="input-small">
    <mat-label>City</mat-label>
    <input matInput [(ngModel)]="person.family.address.city">
  </mat-form-field>&nbsp;

  <mat-form-field appearance="standard" class="input-2">
    <mat-label>State</mat-label>
    <input matInput [(ngModel)]="person.family.address.state">
  </mat-form-field>&nbsp;

  <mat-form-field appearance="standard" class="input-5">
    <mat-label>Zip</mat-label>
    <input matInput [(ngModel)]="person.family.address.zip">
  </mat-form-field>

  <br/>
  <app-family-member-list [members]="person.family.members" [familyId]="person.family.id"></app-family-member-list>
 </div>
<div class="container">
  <button class="btn btn-primary" (click)="save()">Save</button>
  <button class="btn btn-outline-primary" (click)="goBack()">Cancel</button>
</div>
 -->