<button *ngIf="!editMode && loginService.userCan('ministry.update')" class="btn btn-primary float-right edit-button" (click)="enableEdit()">Edit</button>
<button *ngIf="!editMode && loginService.userCan('ministry.delete')" class="btn btn-outline-primary float-right edit-button" (click)="delete()">Delete</button>
<h2>{{ministryForm.get("name").value}}&nbsp;</h2>

<div *ngIf="!editMode">
  <div class="container rounded-rect">
    Name: {{ministry.name}}<br/>
    Description:<br/>
    <pre>{{ministry.description}}</pre>
    <br/>
  </div>

  <div *ngIf="loginService.userCan('ministry.enrollment.list')" class="container rounded-rect">
    <h3>Membership</h3>  
    <app-ministry-member-list [ministryId]="ministry.id" [columns]="['member', 'role']"></app-ministry-member-list>
  </div>

  <div class="container rounded-rect">
    <h3>Upcoming Events</h3>  
    <table class="sc-table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody (mouseleave)="highlightEvent(null)">
        <tr *ngFor="let event of upcomingEvents" (mouseover)="highlightEvent(enrollment)"  [ngClass] = "{'highlight' : event === highlightedEvent}">
          <td>{{event.description}}</td>
          <td>{{event.startTime | date:"MMM dd, yyyy 'at' H:mm"}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="loginService.userCan('note.list')" class="container rounded-rect">
    <h3>Notes</h3>
    <app-notes [resourceType]="'ministry'" [resourceId]="ministry.id"></app-notes>
  </div>

  <div class="container">
    <button class="btn btn-outline-primary" (click)="goBack()">Close</button> 
  </div>
</div>

<form *ngIf="editMode" [formGroup]="ministryForm" (ngSubmit)="save()">
  <div class="container rounded-rect">
    <input type="hidden" formControlName="id"/>

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field><br/>


    <mat-form-field appearance="standard" class="input-long">
      <mat-label>Description</mat-label>
      <textarea matInput type="textarea" cdkTextareaAutosize cdkAutosizeMaxRows="10" formControlName="description"></textarea>
    </mat-form-field><br/>
  </div>

  <div class="container rounded-rect">
    <h3>Membership</h3>  
    <app-ministry-member-list [ministryId]="ministry.id" [columns]="['member', 'role']"></app-ministry-member-list>
  </div>
  
  <div class="container rounded-rect">
    <h3>Upcoming Events</h3>  
    <table class="sc-table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody (mouseleave)="highlightEvent(null)">
        <tr *ngFor="let event of upcomingEvents" (mouseover)="highlightEvent(enrollment)"  [ngClass] = "{'highlight' : event === highlightedEvent}">
          <td>{{event.description}}</td>
          <td>{{event.startTime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="container">
    <button class="btn btn-primary" type="submit" [disabled]="!ministryForm.valid">Save</button>
    <button class="btn btn-outline-primary" (click)="goBack()">Cancel</button> 
  </div>
</form>