<div class="container rounded-rect">
  <app-paginated-list [dataService]="credentialService" 
                      [fields]="['name', 'email', 'role']" 
                      [pageSize]='20'
                      [dialogComponent]="CredentialDialogComponent" 
                      [customControls]="controls"
                      type="Users"
                      [searchForm]="[{'name':'name', 'type':'text'},
                                     {'name':'email', 'type':'text'},
                                     {'name':'role', 'type':'text'}]">
  </app-paginated-list>
</div>