<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col">
      <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="mode">
        <label class="btn-primary" ngbButtonLabel>
          <input type="radio" ngbButton value="person"> People
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="radio" ngbButton value="family"> Families
        </label>
      </div>
    </div>
    <div class="col controls align-right">
      <button *ngIf="mode === 'person' && loginService.userCan('person.create')" type="button" class="btn btn-primary" [routerLink]="['/person/new']">Add Person</button>
      <button *ngIf="mode === 'family' && loginService.userCan('family.create')" type="button" class="btn btn-primary" [routerLink]="['/family/detail/']">Add Family</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-8 no-pad">
      <app-sc-search-bar (search)="updateSearch($event)" [type]="mode == 'person'? 'people': 'families'" [searchForm]='getSearchForm()'></app-sc-search-bar>
    </div>
    <div class="col">
        <mat-checkbox [(ngModel)]="includeInactive" (change)="populateList()">Show Inactive?</mat-checkbox>
    </div>
    <div class="col controls">
      <ngb-pagination [(collectionSize)]="totalCount" [(pageSize)]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" size="sm" (pageChange)="populateList()"></ngb-pagination>
    </div>
  </div>
</div>
<div class="container-fluid">
  <table *ngIf="mode === 'person'" class="sc-table">
  	<thead>
  		<tr>
  			<th>Name</th>
        <th>Address</th>
      </tr>
  	</thead>
  	<tbody (mouseleave)="highlight(null)">
  		<tr *ngFor="let item of items" (mouseover)="highlight(item)" [ngClass] = "{'highlight' : item === highlighted}" (click)="viewDetails(item)">
  			<td [ngClass]="{'inactive': item.inactive}">{{item.name}}</td>
        <td [ngClass]="{'inactive': item.inactive}">{{getAddressString(item)}}</td>
  		</tr>
  	</tbody>
  </table>
  <table *ngIf="mode === 'family'" class="sc-table">
    <thead>
      <tr>
        <th>Family Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody (mouseleave)="highlight(null)">
      <tr *ngFor="let item of items" (mouseover)="highlight(item)" [ngClass] = "{'highlight' : item === highlighted}" (click)="viewDetails(item)">
        <td [ngClass]="{'inactive': item.inactive}">{{item.surname}}</td>
        <td [ngClass]="{'inactive': item.inactive}">{{getAddressString(item)}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div *ngIf="loginService.userCan(mode + 'export')" class="huge-icon download" (click)="downloadReport()">&nbsp;</div>
    </div>
    <div class="col align-right">
      <span class="page-status">Showing: {{this.pageStart()}}-{{this.pageEnd()}} of {{totalCount}}</span>
    </div>
  </div>
</div>