<form [formGroup]="baptismForm" (submit)="submitForm()">
  <input type="hidden" formControlName="id"/>

  <app-identity-picker formControlName="person" label='Name' [required]="true"></app-identity-picker>

  <mat-form-field appearance="standard" class="input-standard">
    <mat-label>Location of Baptism</mat-label>
    <input type="text" matInput formControlName="baptismLocation" autocomplete="off" required/>
  </mat-form-field>&nbsp;&nbsp;

  <mat-form-field>
    <input matInput formControlName="baptismDate" [matDatepicker]="picker" placeholder="Date of Baptism" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br/>

  <mat-form-field appearance="standard" class="input-standard">
    <mat-label>Location of Birth</mat-label>
    <input type="text" matInput formControlName="birthLocation" autocomplete="off"/>
  </mat-form-field>&nbsp;&nbsp;

  <mat-form-field>
    <input matInput formControlName="birthDate" [matDatepicker]="birthDatePicker" placeholder="Date of Birth">
    <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #birthDatePicker></mat-datepicker>
  </mat-form-field><br/>

  <app-identity-picker formControlName="minister" label='Minister' [required]="true"></app-identity-picker>
  <div class="row">
    <div class="col">
      <app-identity-picker formControlName="father" label='Father'></app-identity-picker>
    </div>
    <div class="col">
      <app-identity-picker formControlName="mother" label='Mother'></app-identity-picker>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-identity-picker formControlName="godfather" label='Godfather'></app-identity-picker>
        </div>
        <div class="col">
      <app-identity-picker formControlName="godmother" label='Godmother'></app-identity-picker>
    </div>
  </div>
  <app-identity-picker formControlName="witness" label='Witness'></app-identity-picker>

  <mat-checkbox formControlName="conditional">Conditional Baptism?</mat-checkbox><br/>
  <mat-checkbox formControlName="reception">Formal Reception into the Catholic Church?</mat-checkbox><br/>

  <button class="btn btn-primary" type="submit" [disabled]="!baptismForm.valid">Save</button>
  <button class="btn btn-outline-primary" type="button" (click)="close()">Cancel</button>
</form>