<form [formGroup]="eventForm">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Title</mat-label>
          <input type="text" matInput formControlName="title" autocomplete="off" required/>
        </mat-form-field><br/>

        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Description</mat-label>
          <input type="text" matInput formControlName="description" autocomplete="off"/>
        </mat-form-field><br/>

        <sc-auto-complete formControlName="ministryId" label='Ministry' [autocompleteService]="ministryService"></sc-auto-complete>

        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Expected attendence</mat-label>
          <input type="number" matInput formControlName="attendees" autocomplete="off"/>
        </mat-form-field><br/>

        <table>
          <tr>
            <td>
              <sc-auto-complete formControlName="schedulerId" label='Scheduled by' [autocompleteService]="personService"></sc-auto-complete>
            </td>
            <td class="col">
              <div class="actions icon add icon-padding" (click)="openPersonDialog('schedulerId')">&nbsp;</div>
            </td>
          </tr>
        </table>

        <input type="hidden" autocomplete="off" formControlName="id"/>
      </div>
      <div class="col">
        <sc-multi-select formControlName="departmentIds" label="Departments" [autocompleteService]="departmentService"></sc-multi-select>
        <sc-multi-select formControlName="categoryIds" label="Categories" [autocompleteService]="categoryService"></sc-multi-select>

        <table>
          <tr>
            <td>
              <sc-auto-complete formControlName="contactId" label='Contact' [autocompleteService]="personService"></sc-auto-complete>
            </td>
            <td class="col">
              <div class="actions icon add icon-padding" (click)="openPersonDialog('contactId')">&nbsp;</div>
            </td>
          </tr>
        </table>

        <mat-checkbox formControlName="privateEvent">Private Event</mat-checkbox>

      </div>
    </div>
  </div>

  <div *ngIf="!isCustomRecurrence()">
    <hr/>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <sc-date-time formControlName="startTime" [label]="'Start'" [required]="true"></sc-date-time>
        </div>
        <div class="col">
          <sc-date-time formControlName="endTime" [label]="'End'" [required]="true"></sc-date-time>
        </div>
      </div>

      <app-reservation formControlName="reservations" 
        [startTime]="eventForm.get('startTime').value" 
        [endTime]="eventForm.get('endTime').value" 
        [capacity]="eventForm.get('attendees').value"
        [eventId]="eventForm.get('id').value"
        [schedulerId]="eventForm.get('schedulerId').value"
        [eventTitle]="eventForm.get('title').value"
        (availabilityConflictsChange)="updateConflictCount($event)">
      </app-reservation>
    </div>
  </div>

  <div>
    <hr/>
    <div class="container-fluid">
      <mat-checkbox formControlName="recurringMeeting">Recurring Meeting</mat-checkbox>
      <app-recurrence *ngIf="eventForm.get('recurringMeeting').value" 
        formControlName="recurrence" 
        [event]="event"
        [(customEvents)]="customEvents"
        (futureDatesChange)="updateFutureDates($event)"
        (futureConflictsChange)="updateFutureConflictCount($event)">
      </app-recurrence>
    </div>
  </div>
</form>
