<div class="container-fluid">
  <app-paginated-list *ngIf="activeSection"
                    [dataService]="classroomService" 
                    [fields]="['name', 'instructorName', 'roomName', 'studentCount']" 
                    [pageSize]='10' 
                    [dialogComponent]="ClassroomDialogComponent"
                    [type]="'Classroom'"
                    [selectable]='true'
                    [placeholderValue]="'Unassigned'"
                    [newItemTemplate]='{"programId":activeProgram, "sectionId":activeSection.id}'
                    [pathParams]='{"programId":activeProgram, "sectionId":activeSection.id}'
                    [refreshOn]='changes'
                    (onSelect)='classroomSelected($event)'>
  </app-paginated-list>
  <div class="container-fluid"> 
    <div class="huge-icon checkbox" (click)="downloadAttendanceSheets()">&nbsp;</div>
  </div>
  
  <div *ngIf="selectedClassroom">
    <hr/>
    <h3>{{selectedClassroom.name}}</h3>
    <div class="container-fluid">
       <span> Instructor: {{selectedClassroom.instructorName}}</span>&nbsp;&nbsp;<div *ngIf="selectedClassroom.instructorEmails && selectedClassroom.instructorEmails.length > 0 && loginService.userCan('email.send')" class="big-icon email" (click)="openMailDialog()">&nbsp;</div>
       <span *ngIf="selectedClassroom.additionalInstructorNames && selectedClassroom.additionalInstructorNames.length > 0"><br/>Additional Instructors: {{selectedClassroom.additionalInstructorNames}}</span>
    </div>
    <app-attendance [classroom]='selectedClassroom'></app-attendance>
  </div>
</div>