<form [formGroup]="form" (ngSubmit)="save()">
  <h1 *ngIf="data.item !== null && data.item.id > 0" mat-dialog-title>Update Room</h1>
  <h1 *ngIf="data.item == null || data.item.id == 0" mat-dialog-title>Record Room</h1>
  <div mat-dialog-content>
    <input type="hidden" autocomplete="off" formControlName="id"/>
    
    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" autocomplete="off" cdkFocusInitial required/>
    </mat-form-field><br/>

    <mat-form-field class="input-standard">
      <input type="text" placeholder="Type" aria-label="Room Type" matInput formControlName="type"  [matAutocomplete]="typeauto" class="input-standard" required>
      <mat-autocomplete #typeauto="matAutocomplete" autoActiveFirstOption>
        <mat-option *ngFor="let option of types | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field><br/>

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Room Capacity</mat-label>
      <input type="text" matInput formControlName="capacity" autocomplete="off"/>
    </mat-form-field><br/>
  </div>

  <div mat-dialog-actions class="align-right">
    <button mat-button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
    <button mat-button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
  </div>
</form>
