<form [formGroup]="form">
  <table>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
    <tr>
      <td><mat-checkbox formControlName="sunday"></mat-checkbox></td>
      <td><mat-checkbox formControlName="monday"></mat-checkbox></td>
      <td><mat-checkbox formControlName="tuesday"></mat-checkbox></td>
      <td><mat-checkbox formControlName="wednesday"></mat-checkbox></td>
      <td><mat-checkbox formControlName="thursday"></mat-checkbox></td>
      <td><mat-checkbox formControlName="friday"></mat-checkbox></td>
      <td><mat-checkbox formControlName="saturday"></mat-checkbox></td>
    </tr>
  </table>
</form>