<div class="container-fluid">
  <app-paginated-list [dataService]="incomingDonationService" 
                      [fields]="['donorName', 'fund', 
                                 {'name':'amount', 'type':'currency'}, 
                                 {'name':'donationDate', 'type':'dateTime'}]"
                      [pageSize]='10'
                      allowCreate='false'
                      allowDelete='false'
                      [refreshOn]='refresh'
                      [customControls]="controls"
                      type="Incoming Donation">
  </app-paginated-list>
</div>