<ng-template #familyChoice let-family="item">
  <div class="autocomplete-template">
    <span>{{family.surname}}</span>&nbsp;<em>({{family.getCoupleNames()}})</em><br/>
    <span class="secondary-info">{{family.address.street1}}, {{family.address.city}}, {{family.address.state}}</span>
  </div>
</ng-template>

<form [formGroup]="form" (ngSubmit)="save()">
  <h1 *ngIf="data.item && data.item.id" mat-dialog-title>Update Donation</h1>
  <h1 *ngIf="!data.item || !data.item.id" mat-dialog-title>Record Donation</h1>
  <div mat-dialog-content>
    <input type="hidden" autocomplete="off" formControlName="familyId"/>

    <app-sc-auto-complete *ngIf="!data.item || !data.item.familyId" formControlName="familyId" label='Family' [autocompleteService]="familyService" [required]="true" fieldSize="standard" [itemTemplate]="familyChoice" autoFocus='true'></app-sc-auto-complete>
    
    <app-sc-select formControlName="fundId" [autocompleteService]="fundService" label="Fund" fieldSize="standard"></app-sc-select>

    <mat-form-field appearance="standard" class="input-small">
      <mat-label>Amount</mat-label>
      <input type="text" matInput formControlName="amount" autocomplete="off"  required/>
    </mat-form-field>&nbsp;&nbsp;

    <mat-form-field appearance="standard" class="input-small">
      <mat-label>Deductible Amount</mat-label>
      <input type="text" matInput formControlName="deductibleAmount" autocomplete="off" required/>
    </mat-form-field><br/>

    <mat-form-field>
      <input matInput formControlName="donationDate" [matDatepicker]="picker" placeholder="Donation Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field><br/>

    <app-sc-enum formControlName="donationType" label="Donation Type" [required]="true" [valueSource]="donationTypes" ></app-sc-enum>

    <mat-form-field *ngIf="donationType() === 'CHECK'" appearance="standard" class="input-standard">
      <mat-label>Check Number</mat-label>
      <input type="text" matInput formControlName="checkNumber" autocomplete="off" required/>
    </mat-form-field>

    <mat-form-field *ngIf="donationType() === 'EGIFT' || donationType() === 'CREDIT_CARD'" appearance="standard" class="input-standard">
      <mat-label>Transaction Id</mat-label>
      <input type="text" matInput formControlName="transactionId" autocomplete="off"/>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="align-right">
    <button mat-button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
    <button mat-button type="button" class="btn btn-outline-primary" (click)="cancel()">Close</button>
  </div>
</form>
