<div class="container-fluid">
  <app-paginated-list [dataService]="pledgeService" 
                      [fields]="[{'name':'familyName', 'type':'string', 'linkTo':{'path':'/family/detail', 'idField':'familyId'}}, 
                                 'fundName', 
                                 {'name':'annualPledgeAmount', 'type':'currency', 'displayName': 'Total Pledge'},
                                 {'name':'collectedAmount', 'type':'currency', 'displayName': 'Total Collected'},
                                 {'name':'pledgeStatus', 'type':'enum'},
                                 {'name':'pledgeStart', 'type':'date'}, {'name':'pledgeEnd', 'type':'date'},
                                 {'name':'pledgeAmount', 'type':'currency', 'displayName': 'Amount'},
                                 {'name':'pledgeFrequency', 'type':'enum', 'displayName': 'Frequency'},
                                 {'name':'pledgeType', 'type':'enum'}]" 
                      [pageSize]='20' 
                      [dialogComponent]="PledgeDialogComponent" 
                      [dialogWidth]="800"
                      [(search)]="search"
                      type="Pledge"
                      [searchForm]="[{'name':'familyName', 'type':'text'},
                                     {'name':'fundName', 'type':'text'},
                                     {'name':'pledgeStart', 'type':'date'}, 
                                     {'name':'pledgeType', 'type':'enum', 'valueSource':pledgeTypes}, 
                                     {'name':'pledgeFrequency', 'type':'enum', 'valueSource':pledgeFrequencies},
                                     {'name':'annualPledgeAmount', 'type':'numberRange'},
                                     {'name':'collectedAmount', 'type':'numberRange'},
                                     {'name':'pledgeStatus', 'type':'enum', 'valueSource':pledgeStatuses}]">                    
  </app-paginated-list>
  <div *ngIf="loginService.userCan('pledge.export')" class="huge-icon download" (click)="downloadReport()">&nbsp;</div>
</div>
