<form [formGroup]="credentialForm" (ngSubmit)="createCredential()">
  <h1 mat-dialog-title>Create Login</h1>
  <div mat-dialog-content>
    <input type="hidden" autocomplete="off" formControlName="personId"/>
    
    <mat-form-field class="input-standard">
      <input type="text" placeholder="Role" aria-label="Role" matInput formControlName="role"  [matAutocomplete]="auto" class="input-standard" required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredRoles | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>&nbsp;

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" autocomplete="off" required/>
    </mat-form-field><br/>
  </div>
  <div mat-dialog-actions class="align-right">
    <button mat-button type="submit" class="btn btn-primary" [disabled]="!credentialForm.valid" cdkFocusInitial>Save</button>
    <button mat-button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
  </div>
</form>
