<div class="container-fluid">
  <h2>Volunteers</h2>
  <app-paginated-list [dataService]="checkinService" 
                      [pageImpl]="activeCheckins" 
                      [fields]="[{'name': 'personName', 'displayName':'Volunteer'},
                                 {'name':'expiration', 'type':'countdown'},
                                 {'name':'checkedinByName', 'displayName':'Checked In By'}]" 
                      [pageSize]='5' 
                      [dialogComponent]="CheckinDialogComponent"
                      [customControls]="controls"
                      [refreshOn]="refreshList"
                      [type]="'Checkin'">
<!--                       [searchForm]="[{'name':'name', 'type':'text'},
                                     {'name':'type', 'type':'text'}, 
                                     {'name':'capacity', 'type':'numberRange'}]"> -->
  </app-paginated-list>
</div>