<form [formGroup]="autocompleteForm">
  <mat-form-field class="input-{{fieldSize}}">
    <input type="text" formControlName="input" placeholder="{{label}}" aria-label="label" matInput [matAutocomplete]="auto" [required]="required">
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayName"  (optionSelected)="selectItem($event.option.value)">
      <mat-option *ngFor="let item of filteredItems | async" [value]="item">
        {{item.display}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>