<div class="containter-fluid header">
	<img src="assets/images/logo-w-shield.png" class="logo"/><span class="header-text">Servant's Code</span>
  <app-user-menu *ngIf="loginService.isAuthenticated()"></app-user-menu>
</div>
<div class="page">
  <div *ngIf="loginService.isAuthenticated()" class="nav">
    <div class="nav-bar">
      <span *ngIf="loginService.userCan('person.list')">
        <a routerLink="/person" routerLinkActive="active">People</a><br>
      </span>
      <span *ngIf="loginService.userCan('ministry.list')">
        <a routerLink="/ministry" routerLinkActive="active">Ministries</a><br>
      </span>
      <span *ngIf="loginService.userCan('event.list')" >
        <a routerLink="/calendar" routerLinkActive="active">Calendar</a><br>
      </span>
      <span *ngIf="loginService.userCan('pledge.metrics') || loginService.userCan('donation.metrics')"> 
        <a routerLink="/donations" routerLinkActive="active">Finances</a><br>
      </span>
      <span *ngIf="loginService.userCan('person.metrics') || loginService.userCan('family.metrics')" >
        <a routerLink="/metrics" routerLinkActive="active">Metrics</a><br>
      </span>
      <span *ngIf="loginService.userCan('room.list') || loginService.userCan('equipment.list')" >
        <a routerLink="/settings" routerLinkActive="active">Settings</a><br>
      </span>
    </div>
  </div>
  <div class="container content">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="container messages">
  <app-messages></app-messages>
</div>
<div class="containter-fluid footer">
</div>
