<div class="containter-fluid header">
	<img src="assets/images/logo-w-shield.png" class="logo"/><span class="header-text">Servant's Code</span>
  <app-user-menu></app-user-menu>
</div>
<div class="page">
  <div class="nav">
    <div class="nav-bar">
      <a routerLink="/people" routerLinkActive="active">People</a><br>
      <a routerLink="/ministries" routerLinkActive="active">Ministries</a><br>
      <a routerLink="/scheduling" routerLinkActive="active">Scheduling</a><br>
      <a routerLink="/finances" routerLinkActive="active">Finances</a><br>
      <a routerLink="/reports" routerLinkActive="active">Reports</a><br>
    </div>
  </div>
  <div class="container content">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="container messages">
  <app-messages></app-messages>
</div>
<div class="containter-fluid footer">
</div>
