<div class="containter-fluid header">
  <div *ngIf="isDev" class="mode-header dev">Development Mode</div>
  <div *ngIf="isDemo" class="mode-header demo">Demo Mode</div>
	<img src="assets/images/logo-w-shield.png" class="logo"/><span class="header-text">{{organizationService.activeOrgName()}}</span>
  <app-user-menu *ngIf="loginService.isAuthenticated()"></app-user-menu>
</div>
<div class="page">
  <div class="row full-height">
    <div *ngIf="loginService.isAuthenticated()" class="col-auto">
      <div class="nav-bar">
        <span *ngIf="loginService.userCan('person.list')">
          <a routerLink="/person" routerLinkActive="active">People</a><br>
        </span>
        <span *ngIf="loginService.userCan('ministry.list')">
          <a routerLink="/ministry" routerLinkActive="active">Ministries</a><br>
        </span>
        <span *ngIf="loginService.userCan('event.list')" >
          <a routerLink="/calendar" routerLinkActive="active">Calendar</a><br>
        </span>
        <span *ngIf="loginService.userCan('sacrament.mass.intention.list')">
          <a routerLink="/mass/intention" routerLinkActive="active">Intentions</a><br>
        </span>
        <span *ngIf="loginService.userCan('pledge.metrics') || loginService.userCan('donation.metrics')"> 
          <a routerLink="/finance" routerLinkActive="active">Finances</a><br>
        </span>
        <span *ngIf="loginService.userCan('person.metrics') || loginService.userCan('family.metrics')" >
          <a routerLink="/metrics" routerLinkActive="active">Metrics</a><br>
        </span>
        <span *ngIf="loginService.userCan('program.list')" >
          <a routerLink="/formation" routerLinkActive="active">Formation</a><br>
        </span>
        <span *ngIf="loginService.userCan('room.list') || loginService.userCan('equipment.list')" >
          <a routerLink="/facilities" routerLinkActive="active">Facilities</a><br>
        </span>
        <span *ngIf="loginService.userCan('admin.checkin.list')" >
          <a routerLink="/volunteer" routerLinkActive="active">Volunteers</a><br>
        </span>
      </div>
    </div>
    <div class="col">
      <div class="container-fluid main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<div class="container messages">
  <app-messages></app-messages>
</div>
<div class="containter-fluid footer">
</div>
