/* Application-wide Styles */
.header {
  background: #666666;
  color: #ffffff;
  height: 60px;
  margin-bottom: 0;

  h1 {
    font-family: "Eras ITC", Arial, Verdana, sans-serif ; 
    font-weight: bold;
    line-height: 1.5;
  }

  div {
    padding:5px 10px 3px 10px;
    margin: 0px;
  }
  
  .logo {
    height: 40px;
    margin-top: -6px;
    padding-left: 20px;
    padding-right: 10px;
  }
}

.page {
  display: table;
  width: 100%;
  height: calc(100% - 90px);
  overflow-y: auto;
}

.content,
.nav {
  display: table-cell;
}

.nav-bar {
  width: 150px;
  height: 100%;
  padding: 5px;
  font-family: "Eras ITC", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  border-right: 1px solid #cccccc;

  a {
    color: #666666;
  }

  a.active {
    color: #ff0000;
  }
}

.content {
  width: 100%;
  .container-fluid {
    padding-bottom: 5px;
  }
}

.container, .container-fluid {
  margin: 0;
  padding: 0;
}

.messages {
  position: absolute;
  left: 155px;
  top: calc(100% - 85px);
}

.footer {
  background: #666666;
  color: #ffffff;
  height: 30px;
  margin: 0px;
}