/* Application-wide Styles */
.header {
  background: #666666;
  color: #ffffff;
  h1 {
    font-family: "Eras Bold ITC", "Eras ITC", Arial, Verdana, sans-serif ; 
    line-height: 1.5;
  }

  div {
    padding:5px 10px 3px 10px;
  }
  
  .logo {
    height: 40px;
    margin-top: -6px;
    padding-left: 20px;
    padding-right: 10px;
  }
}

h2, h3 {
  color: #444;
  font-family: "Eras Medium ITC", "Eras ITC", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.page {
  display: table;
  width: 100%;
}
.content,
.nav {
  display: table-cell;
}

.nav {
  width: 150px;
}

.content {
  width: 100%;
}

body {
  margin: 2em;
}

body, input[text], button {
  color: #888;
  font-family: "Eras Medium ITC", "Eras ITC", Arial, Verdana, sans-serif; 
}

/* everywhere else */
* {
  font-family: "Eras Medium ITC", "Eras ITC", Arial, Verdana, sans-serif; 
}