<div class="container-fluid">
  <form [formGroup]="fundForm">
    <app-sc-select formControlName="fundId" [autocompleteService]="fundService" label="Fund" fieldSize="small" [nullValue]="'All Funds'"></app-sc-select>
  </form>
</div>
<hr/>
<div *ngIf="loginService.userCan('pledge.metrics')" class="container-fluid clear-float">
  <h3>Donation Overview <span class="light">({{fyStart | date: 'MM-dd-yyyy'}} - {{fyEnd | date: 'MM-dd-yyyy'}})</span></h3>
  <div class='row'>
    <div class='col'>
      <br/><br/>
      <!-- Fiscal Year: <strong>{{fyStart | date: 'MM-dd-yyyy'}} - {{fyEnd | date: 'MM-dd-yyyy'}}</strong><br/> -->
      YTD Donations: <strong>{{ytdDonations | currency:"$"}}</strong><br/>
      YTD Pledged Donations: <strong>{{pledgedDonations | currency:"$"}}</strong><br/>
      Pledge Fullfillment Rate: <strong>{{pledgeFulfillmentPct*100 | number: '1.2-2'}}%</strong><br/>
      YTD Unpledged Donations: <strong>{{unpledgedDonations | currency:"$"}}</strong><br/>
    </div>
    <div class="col align-right">
      <div class="chart-square">
        <ngx-charts-advanced-pie-chart
          [scheme]="pledgeFulfillment.colorScheme"
          [results]="pledgeFulfillment.data"
          (select)="clicked($event)">
        </ngx-charts-advanced-pie-chart>
      </div>
    </div>
  </div>
</div>
<hr/>
<div *ngIf="loginService.userCan('donation.metrics')" class="container-fluid">
  <h3>Monthly Donations</h3>
  <table class="sc-table">
    <thead>
      <tr>
        <th>Month</th>
        <th>Pledged Donations</th>
        <th>Unpledged Donations</th>
        <th>Total Donations</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let month of monthlyDonations">
        <td>{{month.label}}</td>
        <td>{{month.pledged | currency:"$"}}</td>
        <td>{{month.unpledged | currency:"$"}}</td>
        <td>{{month.totalDonations | currency:"$"}}</td>
      </tr>
    </tbody>
  </table>
  <div class="container-fluid">
    <div *ngIf="loginService.userCan('donation.export')" class="huge-icon download" (click)="downloadReport()">&nbsp;</div>
  </div>
</div>
<hr/>
<div *ngIf="loginService.userCan('donation.metrics') && tierReport" class="container-fluid">
  <h3>Donation Tiers <span class="light">({{tierReport.startDate | date: 'MM-dd-yyyy'}} - {{tierReport.endDate | date: 'MM-dd-yyyy'}})</span></h3>

  <div class="row">
    <div class="col">
      <form [formGroup]="annualReportForm">
        <app-sc-enum formControlName="year" [valueSource]="availableYears" label="Year" fieldSize="small"></app-sc-enum>
      </form>
    </div>
    <div class="col">
      Donating familes: <strong>{{tierReport.totalFamilies}}</strong><br/>
      Total Donations: <strong>{{tierReport.totalDonations | currency:"$"}}</strong><br/>
      Average Donation: <strong>{{tierReport.averageFamilyDonation | currency:"$"}}</strong><br/>
    </div>
  </div>
  <table class="sc-table">
    <thead>
      <tr>
        <th>Amount Given</th>
        <th># of Families</th>
        <th>% of Families</th>
        <th>Total Donations</th>
        <th>% of Total</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let tier of tierReport.tiers">
        <td>{{tier.name}}</td>
        <td>{{tier.families}}</td>
        <td>{{tier.percentFamilies | number : '1.2-2'}} %</td>
        <td>{{tier.total | currency:"$"}}</td>
        <td>{{tier.percentTotal | number : '1.2-2'}} %</td>
      </tr>
    </tbody>
  </table>
</div>