<button *ngIf="!editMode && loginService.userCan('person.update')" class="btn btn-primary float-right edit-button" (click)="enableEdit()">Edit</button>
<button *ngIf="!editMode && loginService.userCan('person.delete')" class="btn btn-outline-primary float-right edit-button" (click)="delete()">Delete</button>
<h2 [ngClass]="{inactive: person.inactive}">{{personForm.get("name").value}}</h2>

<div *ngIf="!editMode">
  <div class="container rounded-rect">
    <div class="row">
      <div class="col">
        <h3>Personal Details</h3>
        <div class="row">
          <div class="col">
            Name: {{person.name}}<br/>
            <mat-radio-group aria-label="Gender" [disabled]="true">
              <mat-radio-button value="true" [checked]="person.male">Male</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button value="false" [checked]="!person.male">Female</mat-radio-button>
            </mat-radio-group><br/>
            Email: {{person.email}}&nbsp;&nbsp;<div *ngIf="person.email && loginService.userCan('email.send')" class="big-icon email" (click)="openMailDialog()">&nbsp;</div><br/>
            Phone: {{person.phoneNumber}}<br/>
            <mat-checkbox [checked]="person.headOfHousehold" [disabled]="true"> Head of Household</mat-checkbox>
          </div>
          <div class="col">
            Birthdate: {{person.birthdate | date: 'MM/dd/yyyy'}}<br/>
            Parishioner: {{person.parishioner}}<br/>
            <span *ngIf="person.parishioner">Member Since: {{person.memberSince | date: 'MM/dd/yyyy'}}</span>
          </div>
        </div>
        <div>
          <div class="pad-top">
            <strong>Sacramental History</strong><br/>
            <mat-checkbox [checked]="person.baptized" [disabled]="true"> Baptized</mat-checkbox>&nbsp;&nbsp;
            <mat-checkbox [checked]="person.confession" [disabled]="true"> Confession</mat-checkbox>&nbsp;&nbsp;
            <mat-checkbox [checked]="person.communion" [disabled]="true"> First Communion</mat-checkbox>&nbsp;&nbsp;
            <mat-checkbox [checked]="person.confirmed" [disabled]="true"> Confirmed</mat-checkbox><br/>
            Marital Status: {{person.maritalStatus}}<br/>
          </div>

          <div class="pad-top">
            <strong>Demographic Information</strong><br/>
            Primary Language: {{person.primaryLanguage}}<br/>
            Ethnicity: {{person.ethnicity}}<br/>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <app-photo class="portrait" [guid]="person.photoGuid" [altText]="person.name" [editable]="loginService.userCan('person.update')" (photoStored)="attachPhoto($event)"></app-photo>
      </div>
    </div>
  </div>

  <div class="container rounded-rect">
    <h3>Family Details</h3>
    <div class="row">
      <div class="col">
        Family Name: <a class="clickable" [ngClass]="{inactive: person.family.inactive}" routerLink="/family/detail/{{person.family.id}}">{{person.family.surname}}</a><br/>
        Home Phone: {{person.family.homePhone}}<br/>
        Envelope Number: {{person.family.envelopeNumber > 0? person.family.envelopeNumber: ""}}<br/>
      </div>
      <div class="col">
        Address:<br/>
        <div *ngIf="person.family.address.street1 !== '' && person.family.address.street1 !== null">
          {{person.family.address.street1}}<br/>
          {{person.family.address.city}}, {{person.family.address.state}} {{person.family.address.zip}}
        </div>
        <div *ngIf="person.family.address.street1 == ''">
          No address on file.
        </div>
      </div>
    </div>
    <br/>
  
    <app-family-member-list [members]="person.family.members" [familyId]="person.family.id"></app-family-member-list>
  </div>

  <div *ngIf="loginService.userCan('ministry.enrollment.list')" class="container rounded-rect">
    <h3>Ministry Engagement</h3>
    <app-ministry-member-list [personId]="person.id" [columns]="['ministry', 'role']"></app-ministry-member-list>
  </div>

  <div *ngIf="loginService.userCan('note.list')" class="container rounded-rect">
    <h3>Notes</h3>
    <app-notes [resourceType]="'person'" [resourceId]="person.id"></app-notes>
  </div>

  <div class="container">
    <button class="btn btn-outline-primary" (click)="goBack()">Close</button> 
  </div>
</div>

<form *ngIf="editMode" [formGroup]="personForm" (ngSubmit)="save()">
  <div class="container rounded-rect">
   <h3>Personal Details</h3>
   <input type="hidden" formControlName="id"/>

    <div class="row">
      <div class="col">
        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" (keyup)="guessSurname()" required>
        </mat-form-field><br/>

        <mat-radio-group aria-label="Gender" formControlName="male">
          <mat-radio-button value="true" [checked]="personForm.value.male">Male</mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button value="false" [checked]="!personForm.value.male">Female</mat-radio-button>
        </mat-radio-group><br/>

        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Email</mat-label> 
          <input matInput formControlName="email">
        </mat-form-field><br/>

        <app-sc-phone-number formControlName="phoneNumber"></app-sc-phone-number>  

        <mat-checkbox formControlName="headOfHousehold"> Head of Household</mat-checkbox>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput formControlName="birthdate" [matDatepicker]="picker" placeholder="Birthdate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field><br/>

        <mat-checkbox formControlName="parishioner"> Parishioner</mat-checkbox><br/>

        <mat-form-field *ngIf="personForm.get('parishioner').value">
          <input matInput formControlName="memberSince" [matDatepicker]="picker2" placeholder="Joined">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-auto">
        <app-photo class="portrait" [guid]="person.photoGuid" [altText]="person.name"></app-photo>
      </div>
    </div>

    <div>
      <div>
        <strong>Sacramental History</strong><br/>
        <mat-checkbox formControlName="baptized"> Baptized</mat-checkbox>&nbsp;&nbsp;
        <mat-checkbox formControlName="confession"> Confession</mat-checkbox>&nbsp;&nbsp;
        <mat-checkbox formControlName="communion"> First Communion</mat-checkbox>&nbsp;&nbsp;
        <mat-checkbox formControlName="confirmed"> Confirmed</mat-checkbox><br/>
        
        <app-sc-enum formControlName="maritalStatus" label="Marital Status" [required]="true" [valueSource]="maritalStatuses"></app-sc-enum>
      </div>

      <div>
        <strong>Demographic Information</strong><br/>
        <app-sc-enum formControlName="primaryLanguage" label="Primary Language" [required]="true" [valueSource]="languages"></app-sc-enum>
        <app-sc-enum formControlName="ethnicity" label="Ethnicity" [required]="true" [valueSource]="ethnicities"></app-sc-enum>
      </div>
    </div>

  </div>

  <div class="container rounded-rect" formGroupName="family">
    <h3>Family Details</h3>
    <input type="hidden" formControlName="id"/>

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Family Name</mat-label>
      <input matInput formControlName="surname" required/>
    </mat-form-field><br/>

    <app-sc-phone-number formControlName="homePhone"></app-sc-phone-number>  

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Envelope Number</mat-label>
      <input matInput type="number" formControlName="envelopeNumber"/>
    </mat-form-field><br/>

    <div formGroupName="address">
      <mat-form-field appearance="standard" class="input-standard">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street1" required/>
      </mat-form-field><br/>

      <mat-form-field appearance="standard" class="input-small">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" required>
      </mat-form-field>&nbsp;

      <mat-form-field class="input-2">
        <input type="text" placeholder="State" aria-label="State" matInput formControlName="state" [matAutocomplete]="auto" class="input-2" (blur)="capitalizeState()" required>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="standard" class="input-5">
        <mat-label>Zip</mat-label>
        <input matInput formControlName="zip" required minlength="5" maxlength="5"/>
      </mat-form-field>
    </div>
    
    <br/>
    <app-family-member-list [members]="person.family.members" [familyId]="person.family.id"></app-family-member-list>
  </div>

  <div *ngIf="person.id > 0 && loginService.userCan('ministry.enrollment.list')" class="container rounded-rect">
    <h3>Ministry Engagement</h3>
    <app-ministry-member-list [personId]="person.id" [columns]="['ministry', 'role']"></app-ministry-member-list>
  </div>

  <div *ngIf="person.id > 0 && loginService.userCan('note.list')" class="container rounded-rect">
    <h3>Notes</h3>
    <app-notes [resourceType]="'person'" [resourceId]="person.id"></app-notes>
  </div>

  <div class="container">
    <button class="btn btn-primary" type="submit" [disabled]="!personForm.valid">Save</button>
    <button class="btn btn-outline-primary" (click)="goBack()">Close</button> 
  </div>
</form>
