<form [formGroup]="form" (ngSubmit)="save()">
  <h1 *ngIf="data.item && data.item.id" mat-dialog-title>Update Automated Sync</h1>
  <h1 *ngIf="!data.item || !data.item.id" mat-dialog-title>Automate Syncronization</h1>
  <div mat-dialog-content>
    <input type="hidden" autocomplete="off" formControlName="id"/>
    <input type="hidden" autocomplete="off" formControlName="integrationId">

    Repeats every<br/>
    <mat-form-field appearance="standard" class="input-2">
      <mat-label></mat-label>
      <input type="number" matInput formControlName="frequency" autocomplete="off" cdkFocusInitial/>
    </mat-form-field>&nbsp;

     <mat-form-field appearance="standard" class="input-medium">
      <mat-select formControlName="cycle">
        <mat-option *ngFor="let option of cycleOptions" [value]="option.value">
          {{option.text}}
        </mat-option>
      </mat-select>
    </mat-form-field><br/>

    <div *ngIf="form.get('cycle').value === 'WEEKLY'">
      On...<br/>
      <app-days-of-week formControlName="weeklyDays"></app-days-of-week>
    </div>

    First sync at...<br/>
    <app-date-time label="First" formControlName="scheduleStart"></app-date-time>

  </div>
  <div mat-dialog-actions class="align-right">
    <button mat-button type="submit" class="btn btn-primary" [disabled]="!form.valid" >Save</button>
    <button mat-button type="button" class="btn btn-outline-primary" (click)="cancel()">Close</button>
    <button *ngIf="data.item && data.item.id" mat-button type="button" class="btn btn-outline-primary" (click)="delete()">Stop Automation</button>
  </div>
</form>
