<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
  <h1 mat-dialog-title>Update Password</h1>
  <div mat-dialog-content>
    <input type="hidden" formControlName="id"/>
    <mat-checkbox formControlName="sendEmail">Send email?</mat-checkbox><br/>

    <mat-form-field *ngIf="passwordRequired" appearance="standard" class="input-standard">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" autocomplete="off" cdkFocusInitial/>
    </mat-form-field>
    <mat-checkbox *ngIf="passwordRequired" formControlName="resetPassword">Require reset at login?</mat-checkbox><br/>

  </div>
  <div mat-dialog-actions class="align-right">
    <button mat-button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid">Save</button>
    <button mat-button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
  </div>
</form>
