<h3>Security</h3>
<form>
  <button *ngIf="!hasLogin && loginService.userCan('admin.login.create')" class="btn btn-primary" (click)="openLoginForm()">Add Login</button>
  <div *ngIf="hasLogin" class="row">
    <div class="col">
      <span>{{role}}</span>
    </div>
    <div class="col align-right">
      <!-- <button class="btn btn-primary" (click)="resetPassword()">Reset Password</button> -->
      <button *ngIf="loginService.userCan('admin.login.delete')" class="btn btn-outline-primary" (click)="revokeLogin()">Revoke Login</button>
    </div>
  </div>
</form>
