<div>
  <span *ngIf="futureEvents && futureEvents.length > 0">
    {{futureEvents.length - exceptionDates.length}} {{(futureEvents.length - exceptionDates.length) > 1? 'events':'event'}}<span *ngIf="exceptionDates && exceptionDates.length > 0"> -
      <span>{{exceptionDates.length}} excluded {{exceptionDates.length > 1? 'dates' : 'date'}}</span>
    </span>
  </span>
  <div class="date-list" *ngIf="futureEvents.length > 0">
    <div *ngFor="let event of futureEvents; let i=index" class="event">
      <table class="content middle">
        <td>
          <span [ngClass]="{'conflicted': event.conflicts && !event.excluded, 'excluded': event.excluded}" class="clickable pad-right-5" (click)="toggleConflict(i)">{{event.startTime | date: 'MM/dd/yyyy (EEE)'}}</span>
        </td>
        <td *ngIf="!disabled">
          <div *ngIf="!event.excluded" class="actions icon delete" (click)="addException(i)">&nbsp;</div>
          <div *ngIf="event.excluded" class="actions icon add" (click)="undoException(i)">&nbsp;</div>
        </td>
      </table>
       <div *ngIf="open[i] && event.conflicts">
        <div *ngFor="let res of event.conflicts.conflicts">&nbsp;&nbsp;{{res.resourceName}} - {{res.eventTitle}} - {{res.reserverName}}</div>
      </div>
    </div>
  </div>
</div>
