<form [formGroup]="form">
  <mat-form-field appearance="standard" class="mat-form-field mat-primary mat-form-field-type-mat-input input-{{fieldSize}}">
    <mat-label>{{label}}</mat-label>
    <mat-select [placeholder]="label" formControlName="input" multiple>
      <mat-select-trigger>
        {{displayValue()}}
        <span *ngIf="form.get('input').value?.length > 3" class="example-additional-selection">
          (+{{form.get('input').value.length - 3}} {{form.get('input').value?.length === 4 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let item of items" [value]="item">{{item.identify()}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
