<div class="login-background">
  <div class="login-modal rounded-rect">
    <h1> Welcome to St. Gabriel's</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field appearance="standard" class="input-standard">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required/>
      </mat-form-field><br/>
      <mat-form-field appearance="standard" class="input-standard">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" required/>
      </mat-form-field><br/>

      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
</div>
