<h3 mat-dialog-title>{{ data.title }}</h3>
<div mat-dialog-content>
  <span [innerHTML]="data.text"></span><br/>
  <br/>
  <div *ngIf="data.permaDelete && data.allowPermaDelete">
    <mat-checkbox [(ngModel)]="deletePermanently">Delete Permenantly?</mat-checkbox><br/>
  </div>
  <span *ngIf="!data.permaDelete || deletePermanently" class="warning">This cannot be undone!</span><br/>
</div>
<div mat-dialog-actions>
  <button mat-button type="button" class="btn btn-primary" (click)="delete()">{{(data.actionName && !deletePermanently)? data.actionName: "Delete"}}</button>
  <button mat-button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
</div>