<form [formGroup]="form" (ngSubmit)="save()">
  <h1 *ngIf="data.item !== null && data.item.id > 0" mat-dialog-title>Update Role</h1>
  <h1 *ngIf="data.item == null || data.item.id == 0" mat-dialog-title>Create Role</h1>
  <div mat-dialog-content>
    <input type="hidden" autocomplete="off" formControlName="id"/>
    
    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" autocomplete="off" cdkFocusInitial required/>
    </mat-form-field>

    <app-permission-tree [permissions]="permissions"></app-permission-tree>
  </div>

  <div mat-dialog-actions class="align-right">
    <button mat-button type="submit" class="btn btn-primary" [disabled]="!form.valid || form.get('name').value === 'system'">Save</button>
    <button mat-button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
  </div>
</form>
