<div class="container rounded-rect">
  <h2>Baptism</h2>
  <form [formGroup]="baptismForm" (submit)="submitForm()">
    <input type="hidden" formControlName="id"/>

    <app-sc-auto-complete formControlName="person" label='Name' [autocompleteService]="personService" [required]="true"></app-sc-auto-complete>
    
    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Location of Baptism</mat-label>
      <input type="text" matInput formControlName="baptismLocation" autocomplete="off"/>
    </mat-form-field>&nbsp;&nbsp;

    <mat-form-field>
      <input matInput formControlName="baptismDate" [matDatepicker]="picker" placeholder="Date of Baptism">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field><br/>

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Location of Birth</mat-label>
      <input type="text" matInput formControlName="birthLocation" autocomplete="off"/>
    </mat-form-field>&nbsp;&nbsp;

    <mat-form-field>
      <input matInput formControlName="birthDate" [matDatepicker]="birthDatePicker" placeholder="Date of Birth">
      <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #birthDatePicker></mat-datepicker>
    </mat-form-field><br/>


    <app-sc-auto-complete formControlName="minister" label='Minister' [autocompleteService]="personService" [required]="true"></app-sc-auto-complete>
    <div class="row">
      <div class="col">
        <app-sc-auto-complete formControlName="father" label='Father' [autocompleteService]="personService" [required]="true"></app-sc-auto-complete>
      </div>
      <div class="col">
        <app-sc-auto-complete formControlName="mother" label='Mother' [autocompleteService]="personService" [required]="true"></app-sc-auto-complete>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-sc-auto-complete formControlName="godfather" label='Godfather' [autocompleteService]="personService" [required]="true"></app-sc-auto-complete>
        <app-sc-auto-complete formControlName="witness" label='Witness' [autocompleteService]="personService" [required]="true"></app-sc-auto-complete>
          </div>
          <div class="col">
        <app-sc-auto-complete formControlName="godmother" label='Godmother' [autocompleteService]="personService" [required]="true"></app-sc-auto-complete>
      </div>
    </div>

    <mat-checkbox formControlName="conditional">Conditional Baptism?</mat-checkbox><br/>
    <mat-checkbox formControlName="reception">Formal Reception into the Catholic Church?</mat-checkbox><br/>

    <button class="btn btn-primary" type="submit" [disabled]="!baptismForm.valid">Save</button>
  </form>
</div>