<div *ngIf="displayHeader" class="hours">
  <div class="hour" *ngFor="let hour of [].constructor(dayEndHour-dayStartHour); let i = index" [style.width.%]="100/(dayEndHour-dayStartHour)">
    {{(i+dayStartHour)%2==0? formatTime(i+dayStartHour): "&nbsp;"}}
  </div>
</div>
<div class="timeline">
  <div class="timespan" *ngFor="let window of availability" matTooltip="{{window.eventDescription}}&#13;{{window.reserverName}}" [ngClass]="{'busy': window.resourceType, 'requested': window === reservation, 'conflict': window.overlaps}" [style.width.%]="window.width" [style.left.%]="window.left" [style.top.%]="window.top" [style.height.%]="window.height">
    <span class="clickable" (click)="gotoEvent(window.eventId)">{{window.eventDescription}}</span>
  </div>
</div>