$container-max-widths: (
  sm: 400px,
  md: 600px,
  lg: 822px,
  xl: 1030px,
  xxl: 1460px
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
)