/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

html, body {
  height: 100%;
}

table {
  width: 100%;

  td, th {
    padding: 0 5px 0 5px;
  }

  thead{
    background: #666666;
    color: #ffffff;
    padding: 0 5px 0 5px;
  }

  tr {
    cursor: pointer;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  tr.highlight {
    background: #cccccc;
  }
}

div.container, div.container-fluid {
  padding: 5px;
}

.nav {
  width: 200px;
}

div.align-right {
  text-align: right;
}

div.rounded-rect {
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-bottom: 5px;
}

.btn {
  margin: 0 5px;
}

.btn-primary {
  background-color: #ff0000;
  border-color: #ff0000;
  font-family: "Eras ITC", Arial, Verdana, sans-serif; 
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #cc0000;
  border-color: #ff0000;
  font-family: "Eras ITC", Arial, Verdana, sans-serif; 
  font-weight: bold;
}

.btn-outline-primary {
  background-color: #ffffff;
  border-color: #ff0000;
  font-family: "Eras ITC", Arial, Verdana, sans-serif; 
  color: #ff0000;
  font-weight: bold;
}

.btn-outline-primary:hover {
  background-color: #cc0000;
  border-color: #ff0000;
  color: #ffffff;
  font-family: "Eras ITC", Arial, Verdana, sans-serif; 
  font-weight: bold;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #666666;
  border-radius: 0px;
}

input[type=text]:focus {
  box-shadow: none;
  border-bottom: 2px solid #666666;
  border-radius: 0px;
}

.pagination {
  justify-content: flex-end;
}

.icon {
  height: 20px;
  padding: 2px;
}