/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body {
  height: 100%;
  font-family: "Eras ITC", Arial, Verdana, sans-serif; 
}

table {
  width: 100%;

  td, th {
    padding: 0 5px 0 5px;
  }

  thead{
    background: #666666;
    color: #ffffff;
    padding: 0 5px 0 5px;
    font-family: "Eras ITC", Arial, Verdana, sans-serif; 
  }

  tr {
    cursor: pointer;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  tr.highlight {
    background: #dddddd;
  }

  tr.selected {
    background: #bbbbbb;
  }
}

h2 {
  padding: 5px 0 0 10px;
}

h3 {
  font-size: 1.5rem;
}

em {
  font-style: italic;
  color: #999999;
}

.mat-dialog-title {
    font-family: "Eras ITC", Arial, Verdana, sans-serif; 
    font-weight: bold;
    font-size: 1.5rem;
}

div.container, div.container-fluid {
  padding: 5px;
}

a {
  color: #000000;
}

a:hover {
  color: #000000;
}

.row {
  margin: 0;
}

.col {
  padding: 0;
}

.nav {
  width: 200px;
}

div.align-right {
  text-align: right;
}

div.rounded-rect {
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-top: 5px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}


.btn {
  margin: 0 5px;
}

.edit-button {
  margin: 5px;
}

.btn-group .btn {
  margin-right: 1px;
}

.btn-primary {
  background-color: #ff0000;
  border-color: #ff0000;
  font-family: "Eras ITC", Arial, Verdana, sans-serif; 
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #cc0000;
  border-color: #ff0000;
  font-family: "Eras ITC", Arial, Verdana, sans-serif; 
  font-weight: bold;
}

.btn-primary:not(:disabled):not(.disable).active {
  background-color: #cc0000;
  border-color: #ff0000;
  font-family: "Eras ITC", Arial, Verdana, sans-serif; 
  font-weight: bold;
}

.btn-primary:disabled {
  background-color: #ff9999;
  border-color: #ff9999;
  font-family: "Eras ITC", Arial, Verdana, sans-serif; 
  font-weight: bold;
}

.btn-outline-primary {
  background-color: #ffffff;
  border-color: #ff0000;
  font-family: "Eras ITC", Arial, Verdana, sans-serif; 
  color: #ff0000;
  font-weight: bold;
}

.btn-outline-primary:hover {
  background-color: #cc0000;
  border-color: #ff0000;
  color: #ffffff;
  font-family: "Eras ITC", Arial, Verdana, sans-serif; 
  font-weight: bold;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #999999;
}

.pagination {
  justify-content: flex-end;
  margin-right: 5px;
}

.icon {
  height: 15px;
  width: 15px;
  background-size: 15px 15px;
  padding: 2px;
  cursor: pointer;
}

.edit {
  background-image: url('./assets/images/pencil.png');
}

/* Forms */
.input-long {
  width: 30em;
}

.input-standard {
  width: 15em;
}

.input-small {
  width: 10em;
}

.input-5 {
  width: 5em;
}

.input-2 {
  width: 3em;
}

.cal-month-view mwl-calendar-month-cell.cal-day-cell {
  flex-basis: 1;
  min-width: calc(100%/7);
  flex-direction: row;
}

.cal-month-view mwl-calendar-month-cell.cal-day-cell.cal-today {
  background-color: #eeeeee;

  .day-number {
    opacity: 1;
  }
}

.cal-month-view mwl-calendar-month-cell.cal-day-cell.cal-out-month .day-number {
  opacity: .2;
  font-weight: 400;
}

.cal-week-view .cal-event,
.cal-day-view .cal-event {
  color: rgb(23, 108, 191);
}