<div class="container-fluid">
  <h3>{{ministry? ministry.name: ''}} Roles</h3>
  <app-paginated-list [dataService]="ministryRoleService" 
                      [fields]="['name','leader','contact']" 
                      [pageSize]='5' 
                      [pathParams]="{'id': ministryId}"
                      [dialogComponent]="MinistryRoleDialogComponent" 
                      [newItemTemplate]="{'ministryId': ministryId}"
                      type="Ministry Roles"
                      [searchForm]="[{'name':'name', 'type':'text'},
                                     {'name':'contact', 'type':'boolean'},
                                     {'name':'leader', 'type':'boolean'}]">
  </app-paginated-list>
  <div class="container-fluid">
    <button class="btn btn-primary" (click)="goBack()">Done</button> 
  </div>
</div>
