
.col {
  padding: 0 2px 0 2px;
}

.removable:hover {
  color: #ff0000;
  text-decoration: line-through;
}

.inline {
  display: inline-block;
}

.example-additional-selection {
  font-size: 80%;
  opacity: 0.75;
}