<form [formGroup]="eventForm" (ngSubmit)="createEvent()">
  <button *ngIf="disabled && loginService.userCan('event.update') && userCan('edit')" class="btn btn-primary float-right edit-button" type="button" (click)="enableEdit()">Edit</button>
  <button *ngIf="!editMode && (event && event.id > 0) && loginService.userCan('event.delete') && userCan('delete')" 
 mat-button type="button" class="btn btn-outline-primary float-right edit-button" (click)="delete()">Delete</button>
  <button *ngIf="!editMode && (event && event.id > 0) && loginService.userCan('event.create')" 
 mat-button type="button" class="btn btn-outline-primary float-right edit-button" (click)="copyEvent()">Copy</button>

  <h2 *ngIf="!editMode">Event Details</h2>
  <h2 *ngIf="(event && event.id > 0) && editMode">Update Event</h2>
  <h2 *ngIf="(!event || !event.id) && editMode">New Event</h2>

  <div class="container rounded-rect">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Title</mat-label>
          <input type="text" matInput formControlName="title" autocomplete="off" required/>
        </mat-form-field><br/>

        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Description</mat-label>
          <input type="text" matInput formControlName="description" autocomplete="off"/>
        </mat-form-field><br/>

        <app-sc-auto-complete formControlName="ministryId" label='Ministry' [autocompleteService]="ministryService"></app-sc-auto-complete>

        <app-sc-auto-complete formControlName="schedulerId" label='Scheduled by' [autocompleteService]="personService"></app-sc-auto-complete>

        <input type="hidden" autocomplete="off" formControlName="id"/>
      </div>
      <div class="col">
        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Departments</mat-label>
          <mat-select placeholder="Departments" formControlName="departments" multiple>
            <mat-select-trigger>
              {{eventForm.get('departments').value ? eventForm.get('departments').value.slice(0,3) : ''}}
              <span *ngIf="eventForm.get('departments').value?.length > 3" class="example-additional-selection">
                (+{{eventForm.get('departments').value.length - 3}} {{eventForm.get('departments').value?.length === 4 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let department of availableDepartments" [value]="department">{{department}}</mat-option>
          </mat-select>
        </mat-form-field><br/>

        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Categories</mat-label>
          <mat-select placeholder="Categories" formControlName="categories" multiple>
            <mat-select-trigger>
              {{eventForm.get('categories').value ? eventForm.get('categories').value.slice(0,3) : ''}}
              <span *ngIf="eventForm.get('categories').value?.length > 3" class="example-additional-selection">
                (+{{eventForm.get('categories').value.length - 3}} {{eventForm.get('categories').value?.length === 4 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let category of availableCategories" [value]="category">{{category}}</mat-option>
          </mat-select>
        </mat-form-field>

        <app-sc-auto-complete formControlName="contactId" label='Contact' [autocompleteService]="personService"></app-sc-auto-complete>

        <mat-checkbox formControlName="privateEvent">Private Event</mat-checkbox>

      </div>
    </div>
  </div>

  <div class="container rounded-rect">
    <div class="row">
      <div class="col">
        <app-date-time formControlName="startTime" [label]="'Start'" [required]="true"></app-date-time>
      </div>
      <div class="col">
        <app-date-time formControlName="endTime" [label]="'End'" [required]="true"></app-date-time>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-checkbox formControlName="recurringMeeting">Recurring Meeting</mat-checkbox>
        <app-recurrence *ngIf="eventForm.get('recurringMeeting').value" formControlName="recurrence" [startDate]="eventForm.get('startTime').value"></app-recurrence>
      </div>

      <div class="col">
        <span *ngIf="futureTimes && futureTimes.length > 0">
          {{futureTimes.length}} future {{futureTimes.length > 1? 'events':'event'}}<span *ngIf="exceptionDates && exceptionDates.length > 0"> -
            <span class="excluded">{{exceptionDates.length}} excluded {{exceptionDates.length > 1? 'dates' : 'date'}}</span>
          </span>
        </span>
        <div class="date-list" *ngIf="eventForm.get('recurringMeeting').value">
          <div class="row">
            <div class="col">
              <div *ngFor="let date of futureTimes">
                {{date | date: 'MM/dd/yyyy'}}
              </div>
            </div>
            <div class="col excluded">
              <div *ngFor="let date of exceptionDates">
                {{date | date: 'MM/dd/yyyy'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container rounded-rect">
    <app-reservation formControlName="reservations" 
      [startTime]="eventForm.get('startTime').value" 
      [endTime]="eventForm.get('endTime').value" 
      [eventId]="eventForm.get('id').value"
      [schedulerId]="eventForm.get('schedulerId').value"
      [eventTitle]="eventForm.get('title').value"
      (availabilityConflictsChange)="updateConflictCount($event)">
    </app-reservation>

    <div *ngIf="eventForm.get('recurringMeeting').value">
      <strong *ngIf="!conflicts || !conflicts.length">No future conflicts.</strong>
      <strong *ngIf="conflicts.length" class="clickable" (click)="toggleConflicts()">{{conflicts.length}} future {{conflicts.length > 1? 'conflicts' : 'conflict'}}</strong>
      <div class="conflict-list" [ngClass]="{'hidden': !showConflicts}">
        <div *ngFor="let conflict of conflicts">
          <strong>{{conflict.event.startTime | date: 'MM/dd/yyyy'}}</strong> <span *ngIf="editMode" class="clickable" (click)="addException(conflict)">(delete)</span><br/>
          <div *ngFor="let res of conflict.conflicts">&nbsp;&nbsp;{{res.resourceName}} - {{res.eventTitle}} - {{res.reserverName}}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="event.id > 0 && loginService.userCan('note.list')" class="container rounded-rect">
    <h3>Notes</h3>
    <app-notes [resourceType]="'event'" [resourceId]="event.id"></app-notes>
  </div>


  <div class="container">
    <button mat-button *ngIf="editMode" type="submit" class="btn btn-primary" [disabled]="!eventForm.valid || !canSave()">Save</button>
    <button mat-button *ngIf="(eventForm.get('id').value > 0 && loginService.userCan('event.update')) || loginService.userCan('event.create')" type="button" class="btn btn-outline-primary" (click)="cancel()">Close</button>
 
    <button mat-button *ngIf="(eventForm.get('id').value > 0 && !loginService.userCan('event.update'))" type="button" class="btn btn-primary" (click)="cancel()">Ok</button>
  </div>
</form>
