.reservation {
  border-bottom: 1px solid #cccccc;
}

.col {
  padding: 0 2px 0 2px;
}

tr {
  border-bottom: none;
  text-align: center;
}

th {
  font-weight: normal;
  padding: 0 .375em 0 .375em;
  text-align: center;
}