.reservation {
  position: relative;

  .content {
    position: absolute;
    top: calc(50% - 0.59em);
    vertical-align: middle;

    .actions {
      visibility: hidden;
    }
  }

  &:hover {
    background-color: #cccccc;

    .content .actions {
       visibility: visible;
    }
  };
}

.reservation-row {
  border-bottom: 1px solid #cccccc;
}

.col, .col-4, .col-8 {
  padding: 0 2px 0 2px;
}


.float-clear {
  clear: right;
}

.half-width {
  width: 50%;
}

.removable:hover {
  color: #ff0000;
  text-decoration: line-through;
}

.inline {
  display: inline-block;
}

.conflict-list {
  border: #cccccc solid 1px;
  max-height: 300px;
  overflow-y: auto;
  padding: 5px;
}

.date-list {
  border: #cccccc solid 1px;
  max-height: 250px;
  overflow-y: auto;
  padding: 5px;
}

.excluded {
  color: red;
}

.hidden {
  display: none;
}

.example-additional-selection {
  font-size: 80%;
  opacity: 0.75;
}