<form [formGroup]="eventForm" (ngSubmit)="createEvent()">
  <button *ngIf="disabled && loginService.userCan('event.update')" class="btn btn-primary float-right edit-button" type="button" (click)="enableEdit()">Edit</button>
  <button *ngIf="!editMode && (event && event.id > 0) && loginService.userCan('event.delete')" 
 mat-button type="button" class="btn btn-outline-primary float-right edit-button" (click)="delete()">Delete</button>
  <button *ngIf="!editMode && (event && event.id > 0) && loginService.userCan('event.create')" 
 mat-button type="button" class="btn btn-outline-primary float-right edit-button" (click)="copyEvent()">Copy</button>

  <h2 *ngIf="!editMode">Event Details</h2>
  <h2 *ngIf="(event && event.id > 0) && editMode">Update Event</h2>
  <h2 *ngIf="(!event || !event.id) && editMode">New Event</h2>

  <div class="container rounded-rect">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Title</mat-label>
          <input type="text" matInput formControlName="title" autocomplete="off" required/>
        </mat-form-field><br/>

        <mat-form-field appearance="standard" class="input-standard">
          <mat-label>Description</mat-label>
          <input type="text" matInput formControlName="description" autocomplete="off"/>
        </mat-form-field><br/>

        <app-date-time formControlName="startTime" [label]="'Start'" [required]="true"></app-date-time>

        <app-date-time formControlName="endTime" [label]="'End'" [required]="true"></app-date-time>

        <app-sc-auto-complete formControlName="ministryId" label='Ministry' [autocompleteService]="ministryService"></app-sc-auto-complete>

        <app-sc-auto-complete formControlName="schedulerId" label='Event Owner' [autocompleteService]="personService"></app-sc-auto-complete>

        <input type="hidden" autocomplete="off" formControlName="id"/>
      </div>
      <div class="col">
        <mat-checkbox formControlName="recurringMeeting">Recurring Meeting</mat-checkbox>
        <div *ngIf="recurringMeeting" formGroupName="recurrence">
          <input type="hidden" autocomplete="off" formControlName="recurrenceId"/>
          Repeats every<br/>
          <mat-form-field appearance="standard" class="input-2">
            <mat-label></mat-label>
            <input type="number" matInput formControlName="recurrenceFreq" autocomplete="off"/>
          </mat-form-field>&nbsp;

           <mat-form-field appearance="standard" class="input-medium">
            <mat-select formControlName="recurrenceType">
              <mat-option *ngFor="let option of cycleOptions" [value]="option.value">
                {{option.text}}
              </mat-option>
            </mat-select>
          </mat-form-field><br/>

          <div *ngIf="recurringWeekly()">
            On...<br/>
            <table>
              <tr>
                <th *ngFor="let day of daysOfTheWeek">{{day.substring(0, 3)}}</th>
              </tr>
              <tr>
                <td *ngFor="let day of daysOfTheWeek">
                  <mat-checkbox formControlName="{{day.toLowerCase()}}"></mat-checkbox>
                </td>
              </tr>
            </table>
          </div>

          <mat-form-field appearance="standard">
            <mat-label>Until...</mat-label>
            <input matInput formControlName="recurUntil" [matDatepicker]="recurpicker" placeholder="Until..." class="input-5">
            <mat-datepicker-toggle matSuffix [for]="recurpicker"></mat-datepicker-toggle>
            <mat-datepicker #recurpicker></mat-datepicker>
          </mat-form-field><br/>

          <span class="clickable" *ngIf="futureTimes && futureTimes.length > 0" (click)="toggleDateList()">
            ({{futureTimes.length}} future {{futureTimes.length > 1? 'events':'event'}}<span *ngIf="exceptionDates && exceptionDates.length > 0"> -
              <span class="excluded">{{exceptionDates.length}} excluded {{exceptionDates.length > 1? 'dates' : 'date'}}</span>
            </span>)
          </span>
          <div class="date-list" *ngIf="recurringMeeting" [ngClass]="{'hidden': !showDateList}">
            <div class="row">
              <div class="col">
                <div *ngFor="let date of futureTimes">
                  {{date | date: 'MM/dd/yyyy'}}
                </div>
              </div>
              <div class="col excluded">
                <div *ngFor="let date of exceptionDates">
                  {{date | date: 'MM/dd/yyyy'}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container rounded-rect">
    <div class="float-right half-width">
      <span>Additional Time (min):&nbsp;&nbsp;</span>
      <mat-form-field appearance="standard" class="input-5">
        <mat-label>Setup</mat-label>
        <input type="number" matInput formControlName="setupTime" autocomplete="off"/>
      </mat-form-field>&nbsp;
      <mat-form-field appearance="standard" class="input-5">
        <mat-label>Cleanup</mat-label>
        <input type="number" matInput formControlName="cleanupTime" autocomplete="off"/>
      </mat-form-field>
    </div>
    <h3>Reservations</h3>
    <div class="float-clear"></div>

    <div *ngFor="let item of rooms; let i = index" class="row reservation-row">
      <div class="col-4 reservation">
        <table class="content">
          <td>
            {{item.resourceName}}
          </td>
          <td *ngIf="!disabled">
            <div class="actions icon delete" (click)="removeRoom(i)">&nbsp;</div>
          </td>
        </table>
      </div>
      <div class="col-8">
        <app-availability [reservation]="item" [isAvailable]="roomAvailability[i]" (isAvailableChange)="setRoomAvailability(i, $event)" [displayHeader]="i == 0"></app-availability>
      </div>
    </div>
    <div class="row" *ngIf="!disabled">
      <div class="col-4">
        <app-sc-auto-complete formControlName="room" label='+ Room' [selectObject]="true" [autocompleteService]="roomService" [filter]="roomFilter()"></app-sc-auto-complete>
          <button mat-button type="button" class="btn btn-outline-primary" (click)="findAvailableRooms()">Available Rooms</button>
 
      </div>
    </div>

    <div *ngFor="let item of equipment; let i = index" class="row reservation-row">
      <div class="col-4 reservation">
        <table class="content">
          <td>
            {{item.resourceName}}
          </td>
          <td *ngIf="!disabled">
            <div class="actions icon delete" (click)="removeEquipment(i)">&nbsp;</div>
          </td>
        </table>
      </div>
      <div class="col-8">
        <app-availability [reservation]="item" ([isAvailable])="equipmentAvailability[i]" (isAvailableChange)="setEquipmentAvailability(i, $event)" [displayHeader]="i == 0 && rooms.length == 0"></app-availability>
      </div>
    </div>
    <div class="row" *ngIf="!disabled">
      <div class="col-4">
        <app-sc-auto-complete formControlName="equipment" label='+ Equipment' [selectObject]="true" [autocompleteService]="equipmentService" [filter]="equipmentFilter()"></app-sc-auto-complete>
      </div>
    </div><br/>

    <div *ngIf="recurringMeeting">
      <strong *ngIf="!conflicts || !conflicts.length">No future conflicts.</strong>
      <strong *ngIf="conflicts.length" class="clickable" (click)="toggleConflicts()">{{conflicts.length}} future {{conflicts.length > 1? 'conflicts' : 'conflict'}}</strong>
      <div class="conflict-list" [ngClass]="{'hidden': !showConflicts}">
        <div *ngFor="let conflict of conflicts">
          <strong>{{conflict.event.startTime | date: 'MM/dd/yyyy'}}</strong> <span *ngIf="editMode" class="clickable" (click)="addException(conflict)">(delete)</span><br/>
          <div *ngFor="let res of conflict.conflicts">&nbsp;&nbsp;{{res.resourceName}} - {{res.eventTitle}} - {{res.reserverName}}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="event.id > 0 && loginService.userCan('note.list')" class="container rounded-rect">
    <h3>Notes</h3>
    <app-notes [resourceType]="'event'" [resourceId]="event.id"></app-notes>
  </div>


  <div class="container">
    <button mat-button *ngIf="editMode" type="submit" class="btn btn-primary" [disabled]="!eventForm.valid || !canSave()">Save</button>
    <button mat-button *ngIf="(eventForm.get('id').value > 0 && loginService.userCan('event.update')) || loginService.userCan('event.create')" type="button" class="btn btn-outline-primary" (click)="cancel()">Close</button>
 
    <button mat-button *ngIf="(eventForm.get('id').value > 0 && !loginService.userCan('event.update'))" type="button" class="btn btn-primary" (click)="cancel()">Ok</button>
  </div>
</form>
