<div class="container">
  <div class="row">
    <div class="col">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month"> 
          Month
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          Week
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
          Day
        </div>
      </div>
    </div>
    <div class="col-auto text-center">
      <h3>
        <span class="calendar-control clickable" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="loadEvents()">&lt;&lt;</span>
        <span>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
        <span class="calendar-control clickable" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="loadEvents()">&gt;&gt;</span>
      </h3>
      <span class="clickable" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="loadEvents()">Today</span>
    </div>
    <div class="col controls align-right">
      <button *ngIf="loginService.userCan('event.create')" class="btn btn-primary" type="button" (click)="openEventModal()">Schedule Event</button>
    </div>
  </div>
  <br>

  <ng-template
    #cellTemplate
    let-day="day"
    let-openDay="openDay"
    let-locale="locale"
    let-tooltipPlacement="tooltipPlacement"
    let-highlightDay="highlightDay"
    let-unhighlightDay="unhighlightDay"
    let-eventClicked="eventClicked"
    let-tooltipTemplate="tooltipTemplate"
    let-tooltipAppendToBody="tooltipAppendToBody">
    <div class="whole-cell">
      <span class="day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      <div *ngFor="let event of day.events.slice(0,displayCount())" 
        class="event-title" 
        [style.backgroundColor]="event.color?.secondary"
        [style.color]="event.color?.primary"
        [style.border-color]="event.color?.primary"
        [ngClass]="event?.cssClass"
        (mouseenter)="highlightEvent(event)"
        (mouseleave)="unhighlightEvent(event)"
        [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
        [tooltipPlacement]="tooltipPlacement"
        [tooltipEvent]="event"
        [tooltipTemplate]="tooltipTemplate"
        [tooltipAppendToBody]="tooltipAppendToBody"
        mwlDraggable
        [class.cal-draggable]="event.draggable"
        dragActiveClass="cal-drag-active"
        [dropData]="{event: event, draggedFrom: day}"
        [dragAxis]="{x: event.draggable, y: event.draggable}"
        (mwlClick)="eventClicked.emit({ event: event })"
        >
        {{event.title}}
      </div>
      <span class="more" *ngIf="day.events.length > displayCount()"> + {{day.events.length - displayCount()}} more...</span>&nbsp;
    </div>
  </ng-template>


  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [cellTemplate]="cellTemplate">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [dayStartHour]="6"
      [dayEndHour]="22"
      (hourSegmentClicked)="hourClicked($event.date)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [dayStartHour]="6"
      [dayEndHour]="22"
      (hourSegmentClicked)="hourClicked($event.date)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>