<form [formGroup]="form" (ngSubmit)="save()">
  <h1 *ngIf="data.item && data.item.id > 0" mat-dialog-title>Update Room</h1>
  <h1 *ngIf="data.item == null || data.item.id == 0" mat-dialog-title>Record Room</h1>
  <div mat-dialog-content>
    <input type="hidden" autocomplete="off" formControlName="id"/>
    
    <app-sc-auto-complete formControlName="personId" label='Volunteer Name' [autocompleteService]="personService"></app-sc-auto-complete>

    <app-date-time formControlName="expiration" required='true' label='Until'></app-date-time>
  </div>

  <div mat-dialog-actions class="align-right">
    <button mat-button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
    <button mat-button type="button" class="btn btn-outline-primary" (click)="cancel()">Close</button>
  </div>
</form>
