<mat-toolbar class="sc-toolbar">
  <span *ngIf="loginService.userCan('classroom.list')" class="tab clickable" (click)="selectTab('classes')" [ngClass]="{'highlighted': 'classes' === selectedTab}">Classes</span>
  <span *ngIf="loginService.userCan('classroom.list')" class="tab clickable" (click)="selectTab('sessions')" [ngClass]="{'highlighted': 'sessions' === selectedTab}">Sessions</span>
  <span *ngIf="loginService.userCan('registration.list')" class="tab clickable" (click)="selectTab('registrations')" [ngClass]="{'highlighted': 'registrations' === selectedTab}">Registrations</span>
</mat-toolbar>

<div class="tab-content scrollable">
  <div [ngSwitch]="selectedTab">
    <app-classroom *ngSwitchCase="'classes'"></app-classroom>
    <app-session *ngSwitchCase="'sessions'"></app-session>
    <app-registration *ngSwitchCase="'registrations'"></app-registration>
  </div>
</div>