<mat-toolbar class="sc-toolbar">
  <mat-toolbar-row>
    <span *ngIf="loginService.userCan('classroom.list')" class="tab clickable" (click)="selectTab('classes')" [ngClass]="{'highlighted': 'classes' === selectedTab}">Classes</span>
    <span *ngIf="loginService.userCan('classroom.list')" class="tab clickable" (click)="selectTab('sessions')" [ngClass]="{'highlighted': 'sessions' === selectedTab}">Scheduling</span>
    <span *ngIf="loginService.userCan('catechists.list')" class="tab clickable" (click)="selectTab('catechists')" [ngClass]="{'highlighted': 'catechists' === selectedTab}">Catechists</span>
    <span *ngIf="loginService.userCan('registration.list')" class="tab clickable" (click)="selectTab('registrations')" [ngClass]="{'highlighted': 'registrations' === selectedTab}">Registrations</span>
    <span *ngIf="loginService.userCan('section.list')" class="tab clickable" (click)="selectTab('sections')" [ngClass]="{'highlighted': 'sections' === selectedTab}">Sections</span>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="(sections && sections.length > 1) && (selectedTab === 'classes' || selectedTab === 'sessions')" class="row-2">
    <span class="subtab">Sections:</span>
    <span *ngFor="let section of sections" class="subtab clickable" [ngClass]="{'highlighted' : section === activeSection}" (click)="selectSection(section)">{{section.name}}</span> 
  </mat-toolbar-row>
</mat-toolbar>

<div class="tab-content scrollable">
  <div [ngSwitch]="selectedTab">
    <app-classroom *ngSwitchCase="'classes'" [section]='activeSection'></app-classroom>
    <app-session *ngSwitchCase="'sessions'" [section]='activeSection'></app-session>
    <app-catechist *ngSwitchCase="'catechists'"></app-catechist>
    <app-registration *ngSwitchCase="'registrations'"></app-registration>
    <app-section *ngSwitchCase="'sections'" (onChanged)='loadSections()'></app-section>
  </div>
</div>