<mat-toolbar class="sc-toolbar">
  <span class="tab clickable" (click)="selectTab('detail')" [ngClass]="{'highlighted': 'detail' === selectedTab}">Details</span>
  <span class="tab clickable" (click)="selectTab('preferences')" [ngClass]="{'highlighted': 'preferences' === selectedTab}">Preferences</span>
  <span *ngIf="loginService.hasAny('sacrament')" class="tab clickable" (click)="selectTab('sacraments')" [ngClass]="{'highlighted': 'sacraments' === selectedTab}">Sacraments</span>
</mat-toolbar>

<div class="tab-content scrollable">
  <div [ngSwitch]="selectedTab">
    <app-person-detail *ngSwitchCase="'detail'"></app-person-detail>
    <div class="container-fluid" *ngSwitchCase="'preferences'">
      <sc-preferences [id]="getId()" [type]="'person'" [preferenceSource]="personService"></sc-preferences>
    </div>
    <app-sacraments *ngSwitchCase="'sacraments'"></app-sacraments>
  </div>
</div>